[2018-08-28 16:02] mmindenhall opened #346 "Mongock.execute needs to be public"
In the "Usage without Spring" section, the README shows manually calling `runner.execute();`.  However, the `execute` method is package-protected.  This needs to be public to work as documented.  As a workaround, it looks like I can manually call `afterPropertiesSet()`.

[2018-08-28 17:26] dieppa commented on #346
Hello @mmindenhall, thank you for your comment.
I believe you are right. The workaround you mention feels totally right to me.

However, I will provide a fix soon, if not today, tomorrow. I will keep you updated

[2018-08-28 17:28] dieppa opened #345 "Add test coverage"
Currently the test coverage is not great. It's important to add test and provide a 80%-90% coverage.
Jacoco is a good tool to validate this

[2018-08-28 22:42] mmindenhall opened #344 "Can't use Mongock without Spring"
It is not possible to use Mongock without Spring given the current declaration of the class:

[code]
I think the fix here should be pretty easy...just create a separate subclass that adds in the Spring capabilities:

[code]

[2018-08-29 08:21] dieppa commented on #344
Hello @mmindenhall ,
thanks again for your comments. I have release a new version fixing the issue#12 by making the execute method public.

However, I don't see why you cannot use Mongock without Spring, once the execute() method is public. I may be missing something, can you clarify?

On the other hand, I will be providing some project examples in the repository.

[2018-08-29 08:21] dieppa commented on #346
Fixed in version 1.14

[2018-08-29 08:21] #346 closed

[2018-08-29 14:33] mmindenhall commented on #344
Hi @dieppa, thanks for fixing flamingock/mongock#346 and spinning a new release!

To clarify, it may be possible to use Mongock without actually _using_ Spring, but it's impossible to exclude Spring from the project as a dependency because there's no code path that does not touch something from Spring.

I have this in my build.gradle:

[code]

And when I try to build my project, I get this error:

[2018-08-29 14:52] dieppa commented on #344
Ahh ok, yeah, that's right.
The solution I am going to provide ti split the project into 2(core and spring), so you would be importing just the core. You can expect that upgrade for tomorrow, does it work for you?

[2018-08-29 14:53] dieppa commented on #344
Oh yeah, I didn't see your last comment. That's what I mean't create 2 modules.

[2018-08-29 14:53] dieppa commented on #344
Can you wait until tomorrow?

[2018-09-01 18:55] dieppa commented on #344
Merged PR flamingock/flamingock-java#17 .
Releases artifacts, version 1.15 of mongock-core, mogock-spring, mongock-jongo

<dependency>
  <groupId>com.github.cloudyrock</groupId>
  <artifactId>mongock-core</artifactId>
  <version>1.15</version>
</dependency>

<dependency>
  <groupId>com.github.cloudyrock</groupId>
  <artifactId>mongock-spring</artifactId>
  <version>1.15</version>
</dependency>

<d

[2018-09-01 18:55] #344 closed

[2018-09-01 18:56] dieppa opened #343 "add samples"
add sample projects to the repository

[2018-09-01 21:31] dieppa opened #342 "Upgrade to Spring 5, Springboot 2.x and Spring data 2.x"

[2018-09-01 21:33] dieppa opened #341 "Refactor to externalise change log loader from ChangeService"

[2018-09-13 08:36] dieppa opened #340 "Readme: add minimum requirements"

[2018-10-13 13:07] dieppa opened #339 "Encourage encapsulation in Mongock"
Make setters package-private for those fields which shouldn't be changed once built

[2018-10-13 13:08] dieppa opened #338 "Refactor builders"
Considerable amount of duplicated code in the builders

[2018-10-15 15:01] droidkfx commented on #338
Hey, you mentioned this issue in a PR I created. Can you provide some more information on what you want? Is the intention just to minimize the amount of code in the builders and move all duplications to a base class, or utility class? I would be happy to implement that just want to make sure I know what you need. Let me know.

[2018-10-16 09:35] dieppa opened #337 "Fix external builds in travis"

[2018-10-17 01:38] ghost commented on #339
Hello @dieppa,
I'd like to help with this

[2018-10-17 09:24] dieppa commented on #339
Hello @mbuccat ,
this is a pretty easy one that can help you to know the code. The idea is easy, expose just what is needed. For example, right now, due to a PR, the method  `setChangelogMongoDatabase` in the class Mongock is public, so exposed to the outside. First this is not ideal because it's not intended to be modified after build via the builder, but even worse, it's not correct because if t

[2018-10-17 10:35] dieppa commented on #338
Sorry @droidkfx , I didn't see it.

Ok, so the goal of this is the following:

- As you mention, reduce code duplication
- Improve hierarchy/inheritance, so it's more readable, reusable and extensible
- Increase encapsulation. By having the builders in the class itself, setters that shouldn't be exposed, can be private
- Facilitate tests...less and easier
- etc.

Anyway, there is another [issue](h

[2018-10-17 16:48] #337 closed, assigned to nobody

[2018-10-17 17:39] ghost commented on #339
Thanks for the tips! I'll go with your suggested approach

[2018-10-17 18:40] dieppa commented on #339
Yeah, Actually I was about to tell you, as there is another person who wants to help with the  [refactor issue](https://github.com/cloudyrock/mongock/issues/36)

[2018-10-17 21:20] dieppa opened #336 "Add jacoco support for local and sonarcloud analysys"
Requirements:

- Provide jacoco initial configuration for multi-project
- Provide minimum threshold for test coverage(initially can be per project or shared)
- Provide support to run jacoco locally and make it fails if the minimum test coverage is not achieved

Initially all tests(unit and integration tests) are grouped together. But next step is separate them, so they can be analysed separately

[2018-10-17 21:21] dieppa commented on #338
If you decide to do this, please let me know to discuss the approach, so we have the same idea ;)

[2018-10-17 21:53] ghost commented on #339
@dieppa
I've changed the access modifiers for the setters. Awaiting more information about refactoring.

[2018-10-18 07:47] dieppa commented on #339
@mbuccat , If your change covers this issue, please open a pull request(from your forked repository) and I review it. It should be pretty easy one. Thanks

[2018-10-18 07:48] #345 closed, assigned to nobody

[2018-10-21 11:09] dieppa commented on #336
Hi @Zomzog,
sorry but your pull request is not working with sonar:
[code]
The error message is:

I haven't gone into detail, but I can see you are setting jacoco like it were a single project, but it's not. It's a multi-project which requires a more advance configuration.

On the other hand, even if that had worked, it wouldn't have been enough(Probably my fault, I actually created the issue for m

[2018-10-23 09:56] #339 closed

[2018-10-23 10:13] dieppa opened #335 "Add MongoDB 4.x support for transactional changelogs"
Add support for MongoDB 4.x to provide transactional changelos. This can potentially fix some of the concerns mentions for [MongoDB's transaction limitations](https://github.com/cloudyrock/mongock#mongo-transaction-limitations)

### THIS ISSUE IS NOT READY TO BE IMPLEMENTED YET

[2018-10-23 10:14] dieppa opened #334 "Add contribution documentation"

[2018-10-30 04:09] michael-pratt opened #333 "Startup error with JHipster"
I am trying to use mongock as a replacement for Mongobee in a Jhipster application. I have added the following code in place of the Mongobee bean:

[code]

When I run my application, I get this error on startup:

[code]

This is with JDK8, JHipster 5.5, and Spring Boot 2.

Am initializing the mongock bean properly?

[2018-10-30 04:18] michael-pratt commented on #333
Posted too soon. I was using the old mongobee ChangeOrder annotations; changing them to the mongock package solved my problem.

[2018-10-30 04:18] #333 closed

[2018-10-30 11:19] dieppa commented on #333
@michael-pratt glad you are using Mongock and you "fixed" your own issue =D

[2018-11-01 20:31] Zomzog commented on #336
https://sonarcloud.io/dashboard?id=com.github.cloudyrock.mongock%3Amongock

Looks good on with my own travis/sonar ids.

I've changed the configuration with this doc: https://docs.travis-ci.com/user/sonarcloud/

To check coverage locally, the easiest way will be to use the IDE coverage no?

[2018-11-01 21:14] dieppa commented on #336
I don't remember the details, but I will have a look.

Regarding the local checking, the best way is  by running `mvn verify` and obtain jacoco report ;)

[2018-11-04 11:23] dieppa commented on #336
Hello @Zomzog , it works fine, but it's not really what I was looking for, although it's better than what we have now. So thanks, I will merge it ;)

However, if you see the issue description, my goal is to have threshold per sub-project and separate integration tests from unit tests, so I can enforce different coverage for both.

So the issue stays open

[2018-11-26 16:05] dieppa opened #332 "travis build running for all branch"
It should only run for master and PRs

[2018-12-02 09:17] yonimoses opened #331 "Command failed with error 8000 (AtlasError): 'user is not allowed to do action [remove] on [mydb.mongockLock]'"
Hi,
I'm getting this error when trying with mongodb srv URI.

Any ideas?

[2018-12-02 09:24] yonimoses commented on #331
Managed to solve it by granting readWriteAnyDatabase to the user.

[2018-12-02 09:43] dieppa commented on #331
Hello @yonimoses , can you fill a template for a bug with a bit more information on it(stack trace would really help)?
You can see how report a bug in [here](https://github.com/cloudyrock/mongock/blob/master/community/CONTRIBUTING.md#reporting-bugs)

Notice, we haven't set up the FAQ page yet.

Thanks

[2018-12-13 07:58] sgrillon14 opened #330 "Use mongock with springboot 2.0.7 but do not work"
I copy/pase your sample:

[code]

but I need add a cast:

[code]

and after I had this problem:

[code]

[2018-12-13 08:21] dieppa commented on #330
Hello @sgrillon14. Please, can you tell me which version of Mongock you are using?
For future issues, please use this [template](https://github.com/cloudyrock/mongock/blob/master/community/ISSUE_TEMPLATE.md)

[2018-12-13 08:30] sgrillon14 opened #329 "Mongo SNAPSHOT not avalable on oss.sonatype snapshots repositories"
I had this:
[code]

but you do not deploy on oss.sonatype snapshots repositories

Do you want any help for this?

[2018-12-13 08:43] dieppa commented on #329
No it's fine, thatnks. Regarding [spring issue](https://github.com/cloudyrock/mongock/issues/53). If you don't tell which version of Mongock you are using, I can't help you

[2018-12-13 08:47] sgrillon14 commented on #330
[code]
and same issue on `2.0.0-BETA`

[2018-12-13 08:49] dieppa commented on #330
@sgrillon14, You don't need to import both. Try importing only spring, and let me know how it goes ;)

[2018-12-13 08:54] sgrillon14 commented on #330
same issue with `mongock-spring` only. Have you a sample project with tis?

[2018-12-13 08:55] dieppa commented on #329
@sgrillon14  I don't really understand this issue? As I can see in another comment, you are using 1.16.1, which is not a snapshot.

However, I will use snapshot deployments for future breaking version. Actually current 2.0.0-BETA could have been deployed to snapshot repository

[2018-12-13 09:02] dieppa commented on #330
@sgrillon14 I have several projects using Mongock in production, but those projects are private, so I cannot share it.

However, we will have a look to this today and I will update you and we will try to provide some sample projects, as I believe it's a good idea.

**I will use Spring-boot 2.0.7, a y other requirement you think could affect?**

[2018-12-13 09:33] sgrillon14 commented on #330
<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-mongodb</artifactId>
    </dependency>

[2018-12-13 10:28] dieppa commented on #330
@sgrillon14 we had a quick look, looks like there is some spring versions mess. We will try to release a fix today or tomorrow.

Meanwhile,  if you are not injecting any extra bean to your change sets, we suggest you to use Mongock core. Please see below a work around.

Not ideal as it executes Mongock directly there and it should delegate it to Spring by returning an InitializingBean and you cann

[2018-12-13 10:43] dieppa commented on #330
@sgrillon14  let me know if the temporal workaround works for you

[2018-12-13 11:05] sgrillon14 commented on #330
I try use Mongock in a more simple projet. I looking for where from `MongoDatabase db` of `public void someChange2(MongoDatabase db) {`

I think in auto-configuration of `spring-boot-starter-data-mongodb` but I have this:

[code]

[2018-12-13 11:09] dieppa commented on #330
Yeah,  I was about to send you a message as we spotted some other problem using Spring boot 2.0.7 with MongoDatabase. Not that one tho.

Anyway, we are working on it and we expect to deploy a fix today. We'll keep you updated.

[2018-12-13 11:48] sgrillon14 commented on #329
My question is "How to use a -SNAPSHOT version in my project?"

[2018-12-13 13:24] dieppa opened #328 "Exception when using MongoDatabase"
**Description**
When using MongoDatabse, Mongock throws an exception due to MongoDatabseImpl is package private

**PRIORITY**
Critical as MongoDatabase is the standard way of using the Mongock-core

**Steps to Reproduce**
- Use Mongock-core
- Don't us DB. Mongock will take MongoDatabase by default
- Code:

`

MongoClient mongoclient = new MongoClient(new MongoClientURI("mongodb://127.0.0.1:27017")

[2018-12-13 13:44] dieppa commented on #330
@sgrillon14 we have fixed the [issue](https://github.com/cloudyrock/mongock/issues/55) with MongoDatabase.

We created [project](https://github.com/cloudyrock/springboot-2-0-7-sample) where you can see how to use it. Please notice, it uses a branch which hasn't been released yet. please checkout locally the project first by doing:

1.  git clone https://github.com/cloudyrock/mongock.git
2. git che

[2018-12-13 14:50] sgrillon14 commented on #330
How to use `mongoTemplate` in a `ChangeSet`?

[code]

I have this error:

`ERROR 8032 --- [           main] com.github.cloudyrock.mongock.Mongock    : ChangeSet method changeSet1 has wrong arguments list. Please see docs for more info!`

[2018-12-13 14:59] dieppa commented on #330
As you can read in one of my previous messages, in this temporally workaround you cannot use MongoTemplate. The reason is because is a Spring class. Yiu dont get a comoilation error because you have it in your classpath. Once mongock spring issue is f8xed, you will be able to use template

[2018-12-13 15:05] sgrillon14 commented on #330
you fixed the [issue ](https://github.com/cloudyrock/mongock/issues/55) with `MongoDatabase` and you will fix the problem with `MongoTemplate` later?

in your sample, you use `insertOne` but with key/value. In my case, I want insert into an Object

    @ChangeSet(order = "002", id = "createAdmin", author = "sgrillon")
    public void createAdmin( MongoDatabase db) {
        final User admin = new

[2018-12-13 15:11] dieppa commented on #330
Yeah. Mongodatabase is fixed but not released. And yes, we'll try to have the template issue with springboot 2.0.7 as soon as possible. Hopefully today, otherwise tomorrow. We'll keep you updated

[2018-12-13 15:13] sgrillon14 commented on #330
great thanks a lot

[2018-12-13 19:36] dieppa commented on #328
fixed in [pull request 56](https://github.com/cloudyrock/mongock/pull/56)

[2018-12-13 19:36] #328 closed

[2018-12-13 21:09] dieppa commented on #330
@sgrillon14 the sample has been updated. It uses mongock-spring version 2.0.0-BETA and works fine.
Please, have a look to the [sample](https://github.com/cloudyrock/springboot-2-0-7-sample).

Please notice, version 2.0.0-BETA stills have the bug with MongoDatabase recently fixed  and released in version 1.16.2. This fix will be added to 2.0.1 and released soon. Hopefully tomorrow evening UK time.

[2018-12-14 09:46] sgrillon14 commented on #330
I have a look to the sample but you do not push the fix on 2.0.0-BETA and 1.16.2.

[code]

I have this:

`ERROR 18560 --- [           main] com.github.cloudyrock.mongock.Mongock    : ChangeSet method createAdmin has wrong arguments list. Please see docs for more info!`

[2018-12-14 09:50] dieppa commented on #330
No, I didnt need to do anything. The sample project with spribgboot 2.0.7 and Mongock 2.0.0-BETA just works.

Please have a look to the sample and try to spot the difference. Alternativaly, you can give me access to your project or create a similar one with the same issue, so I can download it and see what is going on

[2018-12-14 09:59] sgrillon14 commented on #330
OK, the sample work, I looking for the diff.

**EDIT:**

Now, MongoTemplate is fixed (`changeSet2`) but Mongodatabase does not work anymore.

I reput this:

[code]

[code]

[2018-12-14 14:46] sgrillon14 commented on #330
I add this repository:

https://github.com/sgrillon14/springboot-2-0-7-sample/blob/master/src/main/java/com/github/cloudyrock/mongock/springboot207sample/changesets/ClientChangeLog.java

`java.lang.IllegalAccessException: Class com.github.cloudyrock.mongock.ProxyMethodInterceptor can not access a member of class com.mongodb.MongoDatabaseImpl with modifiers "public"`

[2018-12-14 15:15] sgrillon14 commented on #330
I can help you, where is branch version 2.0.0-BETA?

[2018-12-14 15:20] dieppa commented on #330
@sgrillon14 that error your are experimenting related to MongoDatabase was fixed in version 1.16.2. So don't worry it will be added to 2.0.0-BETA. You can actually see the fix in the new changelog file we have added.

On the other hand, 2.0.0-BETA is a external pull request from @engan81. We are waiting for him to rebase from master to approve the PR. You can see it [here](https://github.com/cloud

[2018-12-14 15:25] dieppa commented on #330
@sgrillon14, anyway, why are you using MongoDatabase and MongoTemplate simultaneously?? You should be fine just using MongoTemplate with mongock-spring 2.0.0-BETA until we release a new version(we are confident on releasing it before tonight) or MongoDatabase with mongock-core 1.16.2, which contains the MongoDatabase fix. You shouldn't be using both

[2018-12-14 15:38] sgrillon14 commented on #330
I need using both. Whith MongoDatabase I add any index in my document and after I use MongoTemplate for the CRUD.

I wait 1.16.2 release and after I close this issue.

great thanks a lot

[2018-12-14 15:42] dieppa commented on #330
Cool, so I can tell you with confidence you will have a version released today ;)

[2018-12-14 21:04] #331 closed

[2018-12-14 21:04] dieppa commented on #330
Fixed in PR flamingock/flamingock-java#45

[2018-12-14 21:04] #330 closed, assigned to dieppa

[2018-12-14 21:31] dieppa commented on #330
@sgrillon14 as you may have noticed, new 2.0.0 version has been released with MongoDatabase fix and Spring 5./Springboot2.x support.

Please have a try and let me know how it goes.

Thanks

[2018-12-17 15:18] #329 closed, assigned to nobody

[2018-12-17 16:30] sgrillon14 commented on #330
in the simple project is it OK but in my complex project I have this (I do not find the difference):

[code]

[2018-12-17 16:53] dieppa commented on #330
I will have a look.

[2018-12-17 16:59] dieppa commented on #330
Can you confirm which version of mongock-spring you are using?
And what you have in in your ProxyFactory.java:59(mongock class). It doesn't make sense that line is failing in the cod eI have

[2018-12-18 08:47] sgrillon14 commented on #330
I use version 2.0.1-SNAPSHOT

59 Enhancer enhancer = new Enhancer() {
60      @Override
61      protected void filterConstructors(Class sc, List constructors) {
62        //Ignoring filter filter
63      }
64    };

[2018-12-18 08:57] dieppa commented on #330
First, why aren't you using the released version 2.0.0?
 Second, that's is pretty weird as that line just creates a new Enhancer, so unless you have some library in your classpath that is messing that, you shouldn't have problem.

So in order to help you, ideally you could share your project with me so I can debug it. If that is not possible, because is private or you just don't want to share it,

[2018-12-18 12:56] sgrillon14 commented on #330
I find the problem:

`spring-cloud-starter-netflix-hystrix` import  old version of asm, so I exclude this

[code]

[2018-12-18 13:06] sgrillon14 commented on #330
I confirm that version 2.0.0 is ready for use in production :+1:

[2018-12-18 13:15] dieppa commented on #330
Great, thanks @sgrillon14

[2019-01-31 20:52] Danjenator commented on #338
I'm not sure if @droidkfx started on this, but if not I can work on this.

[2019-01-31 21:06] dieppa commented on #338
Hi @Danjenator. Feel free to jump on it. Just for you to know, this issue is a bit undefined. It depends on each person's point of view, but as long as your change improves the code and fits best practices, even if it's not everything, or the way I thought, you will be fine ;)

[2019-01-31 21:21] Danjenator commented on #338
Thanks, that sounds good. I used this at a client, but couldn't use the setLockQuickConfig() method with Spring boot. Now that I'm on the bench, I thought I'd fix it. I'll have a pr coming shortly, so let me know if you want me to change how I implemented this.

Thank you for forking this from MongoBee and getting it up to date! I was pulling my hair out for a few days trying to get that to work b

[2019-01-31 21:27] dieppa commented on #338
You should be able to use `setLockQuickConfig()`.  Why can't you use?

[2019-01-31 21:28] Danjenator commented on #338
It returns a Mongock object and not a SpringBootMongock object.

[2019-01-31 21:33] dieppa commented on #338
Yeah, you are right, it returns the parent class. You can either (safely) cast it as temporally work around (as you know it returns a SpringBootMongock)or you can actually fix it.

I am creating an issue specially for this, please feel free to jump on it, but, please, let me know first and I assign the issue to you.

[2019-01-31 21:44] Danjenator commented on #338
I addressed the issue in the PR for this feature. Let me know if there's anything else I need do for this.

[2019-01-31 21:44] dieppa opened #327 "Builder's children classes return parent class in methods where it should return the actual class"
### Description

When executing methods like `setLockQuickConfig()` the children classes return and instance of the parent class(notice it's actual the child instance, but the method's signature returns the parent class)

### PRIORITY

Normal

### Steps to reproduce

Use for example SpringBootMongockBuilder and invoke method `setLockQuickConfig()`, it will return a instance of  MongockBuilder

###

[2019-01-31 21:49] dieppa commented on #338
oh sorry, didn't see the PR, it just came through now. If you can amend it and point to [this new issue](https://github.com/cloudyrock/mongock/issues/59) I just created for this, it would be great.

You can expect to have it reviewed by Saturday ;)

[2019-01-31 22:12] dieppa commented on #338
@Danjenator , I just had a very quickly look to your PR. The intention is good, but I don't fully agree with the solution. What about simulating the **_self type_**  mechanism of some languages by using  generics. Something like:

[code]

[code]

That is much more simpler and quicker. You cannot do that directly as MongockBuilder is not abstract though, but that has an easy fix, I leave it on you

[2019-02-01 09:56] dieppa commented on #338
@Danjenator ,in this [PR](https://github.com/cloudyrock/mongock/pull/60) you can see what I mean(I wont merge it, it's just to show my idea). I did it quickly, so there may be some space for improvement(build methods, but that can be delegated to another issue). Feel free to take it as foundation for your PR and extend it with your improvements. But let me know if you are doing so, otherwise I wil

[2019-02-01 23:06] #327 closed, assigned to nobody

[2019-02-04 14:29] #338 closed, assigned to nobody

[2019-02-05 15:53] Danjenator commented on #338
@dieppa Sorry for dropping off the face of the earth for a couple days. I see you merged your pr and closed the issues. I'm assuming all is well then. Sorry to only highlight an issue and not solve it.

[2019-02-05 16:13] dieppa commented on #338
No problem. Yeah, it's fixed and closed. I am still pending to release a new version, which will be done soon, hopefully this evening

[2019-02-08 08:24] axelhodler opened #326 "Usage with SpringBoot - ApplicationRunner"
As of now the library uses `ApplicationRunner`, thus the migrations will run after the app has started.

I would like to have the application start fail if my migrations fail.

I did not find a way to configure this.

Would it be a welcome addition to the codebase to add this feature if it's not yet configurable?

[2019-02-08 08:37] dieppa commented on #326
Hi @axelhodler ,
that's true if you use SpringBootMongockBuilder. The reason why is because you want to inject your dependencies. So you need to wait until that phase for the migration to run.

However, I believe SpringMogockBuilder(Notice it's not SpringBoot) fits your requirements.

Please, let me know if I am right or I haven't understood your issue.

[2019-02-08 10:12] axelhodler commented on #326
@dieppa exactly what i wanted. Thanks a bunch and keep up the good work 👍

[2019-02-08 10:12] #326 closed, assigned to nobody

[2019-02-11 17:15] MatthewStrickland opened #325 "Allow own changelog instances instead of newInstance"
Currently unable to control the creation of the ChangeLog objects. It would be nice to use custom ones I can pass to the builder so I can add fields based on application configuration, or even use other mongo driver wrappers like Morphia (without relying on set method parameters)

I've tried on core and it seems not doable unless I'm missing something, I imagine this is easier with the spring vers

[2019-02-11 17:19] dieppa commented on #325
Hi @MatthewStrickland , I don't fully understand your issue.

- What do you mean with "unable to control the creation of the ChangeLog objects"?

- Custom ones what?

I can guess you want to inject your own dependencies, but not sure.

Anyway, which framework are you using?

[2019-02-12 09:34] MatthewStrickland commented on #325
Hi @dieppa

Ideally I was hoping to do something like this:

[code]

I'm using Picocontainer (and dropwizard) which could inject these if it managed the ChangeLog itself. Morphia isn't necessarily needed but I'd like to put in specific application properties based on environments. If there's another way then I'd be happy to try it.

[2019-02-12 09:53] dieppa commented on #325
Hi @MatthewStrickland

no, right now there is nothing for that, but it could be done. But please notice that the lock mechanism is based on proxing the database access, so the datasource should be injected via builder. Free injection of database access is not the approach to go.

[2019-02-12 09:56] dieppa commented on #325
So, I suggest to use our templates to either create an [issue](https://github.com/cloudyrock/mongock/blob/master/community/ISSUE_TEMPLATE.md)
or an [enhance](https://github.com/cloudyrock/mongock/blob/master/community/ENHANCENMENT_TEMPLATE.md)

Then feel free to pick it yourself and raise a PR(if so, please make a comment in the ticket itself letting the rest know of us you're picking it) or someo

[2019-02-13 12:41] MatthewStrickland opened #324 "Add ability to use own ChangeLog implementations"
### Description

Injecting own ChangeLogs into builder to control properties of the object.

Something like:

[code]

### Specific scenario

Unable to specify specific safety provisions for my prod environment.

### PRIORITY

minor

### Potential issues or difficulties

Consumers of this library will need to be aware that the method level database accessors provide the locking mechanism and so nee

[2019-02-13 12:44] MatthewStrickland commented on #324
I'll try and make a PR for soon. Am I able to tag this? If not I was going to use core-module, enhancement

[2019-02-13 12:51] dieppa commented on #324
Thanks @MatthewStrickland.

I suggest you to have a look at MongockBuilderBase. You will see how it creates the proxy for database conections(mongodatabase, DB, etc.). I will useful

[2019-02-13 12:56] dieppa commented on #324
I have tagged it and assigned to you.

[2019-02-13 13:12] MatthewStrickland commented on #324
@dieppa Thanks, do I have appropriate permissions to push/create a branch? I keep getting a 403:

**remote: Permission to cloudyrock/mongock.git denied to MatthewStrickland.**

[2019-02-13 13:18] dieppa commented on #324
We use standard fork approach. Fork this repository, create a branch for this issue(feature/issue-63) and when you are done, make a PR. Github offers you to make the PR agains your master in your forked repository or to this repository.

Let me know if you have any issue with that ;)

[2019-02-13 16:22] MatthewStrickland commented on #324
Anyone else is free to take this one on!

[2019-02-13 20:48] dieppa opened #323 "Injections in SpringBoot monitored by the lock"
### Description

The ability to inject spring dependencies via context was added as enhancement(Spring boot), but there MongoTemplate, MongoDatabase and DB are not being proxied, so the lock mechanism is not guaranteed .

### PRIORITY
CRITICAL

### Specific scenario
Using spring boot

### Behaviour

**Expected behaviour:**
Injected MongoTemplate, MongoDatabase and DB being proxied(monitored)

**Ac

[2019-02-15 09:54] gjeanmart commented on #323
Hi,
Is there any ETA on this issue or workaround to inject a dependency in the ChangeLog ?
Thanks
Greg

[2019-02-15 09:59] dieppa commented on #323
Hi, @gjeanmart .

this will be done over the weekend, so you can expect having it fixed by Monday.

[2019-02-15 10:00] dieppa commented on #323
Actually some chances, to have it fixed tomorrow, but I cannot commit to that.

[2019-02-15 10:02] gjeanmart commented on #323
Cool thanks !

[2019-02-15 11:39] dieppa commented on #323
By the way, may I ask what dependencies are you injected via context? Because if you are using mongotemplate, you don't need to use SpringBoot module, you can use just Spring.

[2019-02-15 11:53] gjeanmart commented on #323
I'm basically trying to use a Spring bean injected via `@Autowire` within a ChangeLog like this:
[code]

This currently fails because `myService` is `null`.

But after reading more carefully the issue details, it actually seems to be something else "The injections are not monitored by the lock" which might completely unrelated to this...

Sorry for being out of topic here. But is there any way to

[2019-02-15 12:01] dieppa commented on #323
You are right. What you are concerned it's not what the bug is about. To inject your dependencies, you don't need to autowire them. As long is in spring context, you just need to add them as parameter to your changeSet method.

The bug is relate to montoTemplate. In SpringBoot module, is not monitored by the lock. So even if you weren't concerned, this bug is affecting you. But as mentioned, this

[2019-02-18 08:28] dieppa commented on #323
@gjeanmart sorry, but we haven't been able to deliver the new version yet. We had to face some unexpected issues.

We expect to have the new version tomorrow.

[2019-05-24 12:41] lukaseckert opened #322 "Illegal Reflective Access Warning with Java 9+"
**Info**
- mongock-core 2.0.0
- mongock-spring 2.0.0
- Java(TM) SE Runtime Environment 18.9 (build 11.0.3+12-LTS)

**Description**
After upgrading our project from JDK8 to JDK11, the JVM prints an illegal reflective access warning when Mongock is initialized:
[code]
At the moment this doesn't seem to be too critical, however I'm concerned about the last statement (future Java releases will deny th

[2019-05-24 12:56] dieppa commented on #322
Hi @lukaseckert ,

thanks for this. As you say, it's not critical at the moment, but will produces problems with future JDK versions.

Will fix prioritise this accordingly

[2019-06-01 16:56] erkieh commented on #330
I got a similar problem
spring-boot-starter-test->json-path->json-smart->accessors-smart pulls in asm:5.0.4

[2019-06-03 07:17] dieppa commented on #330
@erkieh  have you tried to exclude it?

[2019-06-03 08:00] erkieh commented on #330
Yes, it works when I exclude it.

On Mon, Jun 3, 2019, 10:17 Dieppa <notifications@github.com> wrote:

[2019-06-03 08:07] dieppa commented on #330
is it that fine?

[2019-06-13 21:31] #323 closed

[2019-06-16 12:08] dieppa commented on #322
This will probably mean that Mongock needs to move from cglib.

[2019-06-16 12:14] #334 closed, assigned to nobody

[2019-06-16 12:15] #341 closed

[2019-06-16 12:15] #340 closed, assigned to nobody

[2019-06-16 12:15] #342 closed

[2019-06-16 12:15] #343 closed

[2019-07-24 22:02] bdchatham opened #321 "Spring Boot 2.1.5"
Description
I am currently migrating my team's code to Spring Boot 2.1.5. We were previously using MongoBee but are now changing to Mongock (if I can get it to work).

I am getting the below error when running using maven and Intellij...

[code]

And my @Configuration class looks like...

[code]

PRIORITY
Normal

Steps to Reproduce
Create a Spring Boot 2.1.5 project and try to use Mongock-Spring 2

[2019-07-24 23:00] dieppa commented on #321
Hello @bdchatham , thanks for this long explanation. We will have a look tomorrow during the day as we are in BST time zone.

Don't worry, you will get it work ;)

[2019-07-25 09:29] dieppa commented on #321
which java version are you using?

[2019-07-25 09:44] dieppa commented on #321
Hi @bdchatham
could you do a mvn dependency:tree and provide me, at least, what is under `com.github.cloudyrock.mongock:mongock-spring`, please?

[2019-07-25 16:26] bdchatham commented on #321
@dieppa We are using Java 8.

Here is what dependency tree gives us for mongock. I can provide the rest if you think it'd be valuable.

![Screen Shot 2019-07-25 at 9 29 46 AM](https://user-images.githubusercontent.com/8429568/61891573-cd20aa00-aebe-11e9-886a-c0e4ddd142c7.png)

Also, thanks for the help! Hopefully we can get this sorted out.

[2019-07-25 17:26] dieppa commented on #321
@bdchatham thanks, that helps ;)

[2019-07-25 22:35] dieppa commented on #321
Hi @bdchatham ,

I cannot reproduce the error, but I identified exactly where it is. I am preparing a beta version with a code change which will fix that(plus other stuff) as it will remove the code(and library) where the error is happening, but won't be ready before Monday.

[2019-07-26 02:18] bdchatham commented on #321
No problem at all @dieppa. My "reproduction steps" were pretty dreadful - this was largely because I figured it'd likely be difficult to reproduce my exact situation to diagnose possible symptoms but was hoping that you'd be able to see something surface-level that was likely a problem by knowing more about what's under the hood of Mongock.

Monday totally works for me. Our migration isn't incredi

[2019-07-29 08:26] dieppa commented on #321
Hello @bdchatham ,

we have done some major changes internal and in the API. Regarding API we have removed support for DB as it's deprecated, but this shouldn't be an issue for you.

Currently we are having some issues releasing the artifact due to some unpleasant java's idiosyncrasies.

Meanwhile you can check the version following these steps:
- checkout the mongock project
- move to branch 3.0.

[2019-07-29 17:42] dieppa commented on #321
@bdchatham  let me know if it works fine with your app?

[2019-07-29 19:02] bdchatham commented on #321
@dieppa Hey, sorry I didn't get back to you earlier this morning. I just got to cloning and building it locally. I ran my service pointing to the new version, and unfortunately I am still seeing the same issue :( here is my new dependency tree:

![Screen Shot 2019-07-29 at 12 01 17 PM](https://user-images.githubusercontent.com/8429568/62074933-b2b93a00-b1f8-11e9-98d6-a2b193df3368.png)

[2019-07-29 19:06] bdchatham commented on #321
My error is:
![Screen Shot 2019-07-29 at 12 05 23 PM](https://user-images.githubusercontent.com/8429568/62075166-425ee880-b1f9-11e9-9519-475ae085f0b5.png)

And here is my bean creation in my configuration class:
![Screen Shot 2019-07-29 at 12 07 19 PM](https://user-images.githubusercontent.com/8429568/62075252-7fc37600-b1f9-11e9-8848-54615b660516.png)

[2019-07-29 19:46] dieppa commented on #321
Hi @bdchatham, that's simply not possible, that class has been removed. Are you sure you've checkout the branch 3.0.0.BETA?? I don't mind the version in pom, I mean the git branch

[2019-07-29 19:59] bdchatham commented on #321
Hey @dieppa,

Right, I was noticing the commit message on the open PR (assuming that is correlated to this). Strangely, when I do a git clone of the project (which on the BETA branch) I get the BETA parent pom, but both spring-mongock and mongock-core are 2.0.3-SNAPSHOT. Seems there's something funky going on with maven version bumps. When taking a closer look in the GitHub repo I noticed that the

[2019-07-29 20:04] bdchatham commented on #321
Yeah, I just downloaded the zip file instead of cloning and now I think I have all of your updated changes. Let me give this another try!

[2019-07-29 20:10] bdchatham commented on #321
@dieppa It worked :) Thank you for all of your help!

[2019-07-29 20:14] dieppa commented on #321
@bdchatham Great! Well, that's supposed to be a test version. I need to clean some stuff and prepare the final version. I expect to have a beta version released soon, tomorrow probably. Can you use your local one meanwhile?

[2019-07-29 20:34] bdchatham commented on #321
@dieppa Absolutely, I'll just keep an eye out for your next merge. Thanks again!

[2019-07-29 21:27] #321 closed, assigned to dieppa

[2019-07-31 07:20] dieppa commented on #321
Hi @bdchatham,
3.0.0.BETA is released. There are some changes, checks and documentation I want to do before releasing a stable version, but I don't expect anything affecting you.

Anyway, let me know if you find anything that can be improved ;)

Thanks!

[2019-07-31 07:29] dieppa commented on #322
Hi @lukaseckert ,

just for your information, we have released 3.0.0.BETA version. We have removed references to cglib in production code. Still using reflections which will be removed in the next days and maybe can produce some warnings.
The last thing we will need to handle is Mockito, as the version we are using is having this issue, but it will be fixed in the next releases.

I keep this issue

[2019-08-02 14:37] LeJeanbono opened #320 "@Profile with SpringBootMongock"
Hi,
I configured SpringBootMongock like :

[code]
And ChangeLog :
[code]

When I'm running tests with `@ActiveProfiles("test")`, Mongock is executed.
Method `.setSpringEnvironment(environment)` of `SpringMongock` is not implemented in `SpringBootMongock`
Did I miss something to handle my profile ?

[2019-08-02 14:50] dieppa commented on #320
Hi @LeJeanbono , which version are you using?
We'll have a look, you can expect to have an answer on Monday morning as latest ;)

[2019-08-05 12:06] SaschaLucius opened #319 "Versioning for ChangeLogs"
Is there any possibility to tag my change-logs with a version?

I would like to keep my change-logs for multiple DB upgrades and just execute the ones which are needed to upgrade from my current to the latest version.

This will be unnecessary complicated with just using the "changeLogsScanPackage" as grouping of the change-logs:
1. group all change-logs per version in separate packages
2. create

[2019-08-05 13:58] dieppa commented on #319
Hi @SaschaWiegleb , sorry II don't see anything you cannot do with the existing solution, but that may be because I don't fully understand your needs. Can you provide an example or scenario so I can understand a bit better?

Thanks

[2019-08-05 14:25] SaschaLucius commented on #319
Hi @dieppa, thanks for your fast reply.
Imagine a product which checks the schema on startup, if any changes need to be applied.

Here are my two scenarios:
First: customer gets version 2.0 of a product and don't want to run the schema changes from 1.0 to 2.0 on first start because they are already inside the shipped version.

Second: Customer wants to upgrade from version 2.0 to 3.0, so just the

[2019-08-07 13:03] dieppa commented on #319
Hi @SaschaWiegleb,

I think I understand your need, but we need to see it in more details. Right now we are not able to provide this features as quick as we wish, but we have taken note and we'll provide it.

Alternatively, if you think you know how to do it, feel free to raise a PR. We'll be more than happy to review it and add it to the next release.

Thanks

[2019-08-07 14:23] SaschaLucius commented on #319
Ok I will try to contribute it.
I will let you now, if I need help.

[2019-08-07 16:10] dieppa commented on #319
Great, if anything comes up, happy to help :)

[2019-08-28 16:54] dieppa commented on #319
@SaschaWiegleb  this has been release in version 3.0.1.BETA

[2019-08-28 16:56] dieppa commented on #319
@SaschaWiegleb I close this issue. Please let me know if you have any other issue

[2019-08-28 16:56] #319 closed

[2019-08-28 16:58] SaschaLucius commented on #319
Thank you, If I face something else I will let you know.

[2019-08-29 06:41] grabarczyk-t opened #318 "Display more meaningful logs when applying changes"
Logs displayed when applying changes are not helpful. They show something like that: `com.github.cloudyrock.mongock.ChangeEntry@66a3c1f8 applied` which does't say which change it refers to. It would be better if it included more meaningful information, like the change id

[2019-08-29 10:32] dieppa commented on #318
That totally makes sense. That's due of lack of 'toString()' implementation for some classes. We'll improve that and let you know when release it in a new BETA version. I would say today or tomorrow

[2019-08-29 15:39] dieppa commented on #318
This is ready to be released in 3.0.2.BETA, but nexus server is out of service. We'll try again tomorrow.

` [ERROR] Failed to execute goal org.sonatype.plugins:nexus-staging-maven-plugin:1.6.7:deploy (injected-nexus-deploy) on project mongock: Execution injected-nexus-deploy of goal org.sonatype.plugins:nexus-staging-maven-plugin:1.6.7:deploy failed: Nexus connection problem to URL [https://oss.s

[2019-08-29 20:50] dieppa commented on #318
@grabarczyk-t It has been released 3.0.3.BETA with improved logs.
I close this issue. If you fine anything else, please let us know.
Thanks

[2019-08-29 20:50] #318 closed

[2019-08-29 22:58] wirefreethought opened #317 "versioning and runAlways issues"
How is the versioning supposed to work? If I update the change-set version (in the annotation), it is NOT being re-executed. I do have the builder set with the correct start/end version range.

[2019-08-29 23:14] wirefreethought commented on #317
Ah. Looking at the code, it appears that an updated version will be ignored if runAlways=false. This seems wrong.

[2019-08-30 05:04] SudharakaP commented on #332
@dieppa : Would you mind if I do a PR for this one? :smile:

[2019-08-30 06:30] dieppa commented on #317
Hello @wirefreethought , thanks for testing the Mongock beta version.
I am not sure I follow you, the scenario I understand should work fine,

Could  you provide a more precise example with the steps and values, like:
1) Create changeset
2) run mongock
3) add version with value 2
4) run mongock with builder and version range 0,2
...

The more specific, the better.
Thanks

[2019-08-30 08:10] dieppa commented on #332
Hi @SudharakaP , I would be more than happy for you to do this PR, but this is already done. This ticket should be closed. I suggest to take a look to the list of issues and ask to collaborate.

Thanks

[2019-08-30 08:10] #332 closed, assigned to nobody

[2019-08-30 16:42] wirefreethought commented on #317
Hi @dieppa. Here are the steps:

1. Create changeset with version 1
2. Run mongock with version range 0,2 [changeset executed]
3. Update changeset to version 1.5
4. Run mongock with version range 0,2 [changeset NOT executed]
5. Update changeset to runAlways=true
6. Run mongock with version range 0,2 [changeset is now executed]

My question is why is it necessary to set runAlways=true if the versio

[2019-08-30 17:38] dieppa commented on #317
Ahhh ok, I got your question now. Ok, the problem is probably that the readme doesn't explain the concept as good as it should. Sorry about that.

So this version is not the versión of the changeset like that. I like that idea, but currently can be achieved by other mechanisms. This version is from a consultancy point of view. They use their product in several customers, with diferente version of

[2019-08-30 20:19] wirefreethought commented on #317
@dieppa Yes, naming is everything. I think your idea of version is really more of a tag, like in git. You want to tag change-sets for different customers. This would be independent of the concept of versioning I'm referring to, which is really versioning of the data itself. So to summarize, I would propose the following changes:

- Add a new change-set annotation field called ``tag`` and provide a

[2019-08-30 20:49] dieppa commented on #317
Thanks for your feedback @wirefreethought.
 I get your point. I think **version** for this concept is confusing, but tag is too. This is something that should be incremental and a tag doesn't need to be. I will come up with a better name though.

On the other hand, regarding the version you have in mind, I have some concerns:
1)  I don't think start/end makes sense here. As I see it, the logic sho

[2019-08-30 21:03] wirefreethought commented on #317
@dieppa The reason for ``tag`` is because you mention certain change-sets should only apply to certain customers. Unless I misunderstood your use-case. So the tag would simply identify a given customer. Regarding ``version``, it is still useful over and above ``id``.  One reason is the id has to be unique across the change-log. So what if my ids all happen to be incremental numbers? If I bump some

[2019-08-30 21:17] dieppa commented on #317
No, I meant that you can name(assign id) with the label you wish **plus** a version, such as `myChangeSet-V1`, so to upgrade the version you can do `myChangeset-V2`. Having a version is definitely cleaner and the proper way, but I wouldn't like to overcomplicated if there is no really a need. **As a user would you appreciate having this versioning anyway?**

Regarding the tag, the requirement it's

[2019-08-30 21:22] wirefreethought commented on #317
Yes that's true, you could overload id with a version suffix. But yeah, I think having a numeric version would be cleaner. For one thing, I would then be free to make my ids alphanumeric or whatever. And I could have multiple versions of the same change-set (with the same id), and decide to apply one or the other, depending on the version of the code I'm on. (E.g., roll-back.) But yes, more compli

[2019-08-30 21:43] dieppa commented on #317
yeah, If I had used "sufix" since the beginning, it would have been easier to explain :D
Anyway, I like your view, and although it's more complicated is totally optional, so only if you need it, you take the "complication".

I will think about that as well the "tag" thing over the weekend. Will keep you updated, just in case you are interested.

Thanks again.

[2019-08-30 21:51] wirefreethought commented on #317
Yes please keep me posted. Thanks for being so responsive. Great work here.

[2019-09-03 15:40] LeJeanbono commented on #320
Sorry, was on holidays :)
I'm using `com.github.cloudyrock.mongock:mongock-spring:2.0.2`

[2019-09-03 15:43] dieppa commented on #320
good, we'll have a look at that and will try to reproduce it and introduce the fix in the 3.0.3.BETA.

[2019-09-10 10:27] savvadem opened #316 "MongoConverter support in Spring Modules"
Hi,
I have some problems with mongock.
It seems that MongoTemplateDecoratorImpl doesn't catch
[code]
and in the end i receive this exception:
[code]

dependency version:
_compile 'com.github.cloudyrock.mongock:mongock-spring:3.0.2.BETA'_
_Spring Boot 2.0.5.RELEASE_

[2019-09-10 19:11] LeJeanbono commented on #320
Do you need more informations ?

[2019-09-10 20:07] dieppa commented on #320
Hello, sorry, we am on vacations now. I will be back at the end of the week. Sorry for the inconvenient.

[2019-09-12 09:45] glowjan opened #315 "Spring boot executable jar application does not see classes with ChagneLogs"
When our application is packaged as executable spring boot jar ChangeLog classes inside this jar are not seen. It was working in version 3.0.0-BETA. It looks like changes in: https://github.com/cloudyrock/mongock/pull/76/commits/20fe854375a1141e069e98d8ecec457f26f0a1a6 in method fetchChangeLogs causes the problem

With prior versions this was working well and also when the application is not packa

[2019-09-12 11:12] dieppa commented on #315
Hello @glowjan ,

my understanding is that you use Mongock in a spring boot app. Then when you do, for example,
mnc clean install, java -jar target/artifact.jar, it doesn't find your classes annotated with @Changelog?

am I right?

[2019-09-12 12:30] glowjan commented on #315
Yes, exactly. The same project in Intellij is working fine when classes are not packaged into executable jar.

[2019-09-12 12:36] savvadem commented on #315
I had similar issue, when i deployed to docker. None of my _ChangeSet_ was applied, but when i started from idea, changes were applied.

[2019-09-12 12:46] dieppa commented on #315
thank you guys. we will have a look. We'll probably rollback these changes and analyse if thse changes are suitable to be added in some other way, and how.
We'll keep you updated.

[2019-09-12 13:13] savvadem commented on #316
As workaround, i used aggregation and bson.Document, so i didn't need converters.

[2019-09-12 13:39] dieppa commented on #316
thanks, we'll update you on this.

[2019-09-13 10:16] dieppa commented on #315
Hello guys.
When we are back from vacations we'll go into details and see what exactly happened in order to try to bring this change back without issues.

Meanwhile new beta has been released with that change rolled back. Please, have a shoot and let us know if it fixes it.

`<dependency>
  <groupId>com.github.cloudyrock.mongock</groupId>
  <artifactId>mongock-core</artifactId>
  <version>3.0.3.BE

[2019-09-13 12:10] glowjan commented on #315
Yes, this version is working for me. Thanks for this quick fix.

[2019-09-13 15:39] savvadem commented on #315
yep, docker fixed too

[2019-09-13 15:49] dieppa commented on #315
great. Thanks guys

[2019-09-13 15:49] #315 closed

[2019-09-23 18:21] dieppa commented on #320
Hello @LeJeanbono , sorry but we are a bit busy. Do you need this urgently or it can wait?

[2019-09-23 18:23] dieppa commented on #316
Hi, we are quite busy right now. is this fix quite important for you or can wait?

[2019-09-23 18:39] savvadem commented on #316
Sure, i can wait, we are in pre-prod stage right now.

[2019-09-23 19:36] LeJeanbono commented on #320
It's not critical, just a lost of time during testing.
Do you have an idea of the problem ?
I can do a MR

[2019-09-23 19:42] dieppa commented on #320
I haven't looked at it yet, but it seems that SpingBootMongock is not taking the profile into account, which it's easy to fix. If you want to give a shoot, I am happy to review it

[2019-10-01 08:00] grabarczyk-t opened #314 "Problem with replaceOne with upsert"
I have a problem using `MongoCollection.replaceOne` method in Mongock ChangeSet methods. When I do something like this:

[code]

I get an exception:

[code]

The line that the exception points to (TestMigrations.java:33) is the line with `testCollection.replaceOne` method

This error occurs only when I am using replaceOne with upsert, when I use replaceOne without ReplaceOptions the migration runs

[2019-10-01 08:15] dieppa commented on #314
Thanks @grabarczyk-t . We'll have a look today or tomorrow an will update you. It seems easy to reproduce and fix.

Thanks

[2019-10-01 18:46] dieppa commented on #314
Hello @grabarczyk-t ,

if you see Mongock is using  mongodb driver 3.6, and the method you are invoking is since 3.7.

We can get Mongock udpated at the end of this week. Meanwhile You can use the deprecated method which is exactly the same but using UpdateOptions, rather than ReplaceOptions, and update your code once Mongock is updated.

<img width="764" alt="Screenshot 2019-10-01 at 19 42 42" sr

[2019-10-02 07:02] grabarczyk-t commented on #314
Ok, thanks!

[2019-10-08 18:52] earandap commented on #314
I have the same issue, and it happened when I upgraded my spring boot app to 2.2.0.RC1 version.

[2019-10-08 18:56] dieppa commented on #314
It makes senses, as the issue is due to mongoDriver versions. Spring boot uses 3.7 and Mongock 3.5. We are pretty busy, finding the time to update it(it\s more than change the version in the pom ;D )

[2019-10-18 17:52] dieppa commented on #314
Hello @grabarczyk-t  and @earandap ,

sorry for the delay, but we have been pretty busy private projects. It has been released version 3.0.4.BETA which has MongoDB driver updated to 3.11.0.
This should solve your issue.

Please let me know if this does the job.

`
<dependency>
<groupId>com.github.cloudyrock.mongock</groupId>
<artifactId>mongock-core</artifactId>
<version>3.0.4.BETA</version>
</dep

[2019-10-21 10:23] grabarczyk-t commented on #314
Hi,

Thanks for the update. I checked if this fixes this issue, and now the changeset method passes without errors, however it doesn't seem to work as it should. I tried running the code I have written in the first post, and when I run it outside mongock context - just manually creating MongoTemplate - it adds the document to the database properly, and when I run mongock with this ChangeSet the do

[2019-10-21 10:47] dieppa commented on #314
interesting, We'll have a look. We had deactivate temporally tests because of Fongo incompatibility with new MongoDB driver version.

Cheers

[2019-10-22 09:45] dieppa commented on #314
@grabarczyk-t , sorry, just to keep you updated. I will try to reproduce your issue myself this evening. I will try to have something for tomorrow or after tomorrow.

Thanks for your patience

[2019-10-22 09:51] grabarczyk-t commented on #314
Thanks for your being so considerate. Don't worry, I don't need this issue fixed that urgently.

[2019-10-29 07:25] abhishekshah2905 commented on #314
+1

[2019-10-29 20:20] LeJeanbono commented on #320
I took a look, for me, all should work.
Can you have a look @dieppa  please ?

[2019-10-29 20:38] dieppa commented on #320
hello @LeJeanbono , you mean a PR? I don't see anything. But I will have a look once your PR is raised ;)

[2019-10-29 20:55] LeJeanbono commented on #320
I didn't find the problem, can't do a PR :/

[2019-10-29 21:44] dieppa commented on #320
aah sorry, I misunderstood. I will, thanks

[2019-10-29 23:35] dieppa commented on #314
Sorry guys, have been really busy. Anyway, that was a very silly issue, which is already fixed in version 3.0.5.BETA

Please, I'd really appreciate if you can confirm it's fixed @grabarczyk-t , @abhishekshah2905 , @earandap

Thanks

[2019-10-31 03:03] abhishekshah2905 commented on #314
@dieppa

It's fixed for now. Thank you for the quick action.

[2019-10-31 07:27] dieppa commented on #314
👍  I close this

[2019-10-31 07:27] #314 closed, assigned to nobody

[2019-10-31 08:56] savvadem commented on #316
Any updates here?

[2019-10-31 09:48] dieppa commented on #316
Hi @savvadem , I haven't able to look at this. As you had a workaround we have prioritise other things, like bugs, etc. Version 3 has been a major change internally, that's the reason we're still in BETA.

I cannot tell you this will be fixed this week, but I will try to have a look to at least understand what we are talking about.

Thanks

[2019-11-07 08:24] dieppa commented on #320
I am looking at this. I hope to have some news soon.

[2019-11-07 09:21] dieppa commented on #320
Hello again, released 3.0.6.BETA version with the fix.
Still no merged to master as I want to add some tests and get your feedback, but should be fine.

Please let me know if works for you, so I can close this issue.

Thanks @LeJeanbono

[2019-11-07 09:43] dieppa commented on #320
@LeJeanbono , while that fix should works good and fixes the issue. It's not definitive. I am  going adapt it to the Spring 5.1 way, with profile string, with !,&,| in another feature.
I'll keep you in the loop in case you are interested ;)

[2019-11-07 09:48] dieppa opened #313 "Add Spring 5.1 Profile expression"
https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#beans-definition-profiles-java

[2019-11-07 13:20] LeJeanbono commented on #320
@dieppa Thank you, I just make some tests and it seems to be ok :)

[2019-11-07 14:43] dieppa commented on #320
thanks, I close this

[2019-11-13 15:26] LeJeanbono commented on #320
Hi @dieppa in `  private boolean matchesActiveSpringProfile(AnnotatedElement element) {` your fix will return false if we only have the `default` Profile

[2019-11-25 16:53] o-ostrovskiy opened #312 "Display time duration for every changeset"
Thanks you for the wonderful product! Is it possible to add one more column for mongockChangeLog collection and keep records of execution time for every changeset?

[2019-11-25 17:16] dieppa commented on #312
Hello @krasova, that's actually a really good idea which is not hard to address. However we are quite tight right now.

How urgent/important is that for your team? is preventing you from developing a feature or releasing a version? Are you using it in production?

Thanks

[2019-11-25 17:30] o-ostrovskiy commented on #312
It is very urgent since I am working on performance testing right now and I want to see what is going with changsets execution time with different volumes of data.  Based on the result we are planning to use this migration tool in the production.
I will take a look how easy to implement this and will raise PR if it is not big change. Thanks!

[2019-11-25 17:34] dieppa commented on #312
Ok. If you prefer, I can have a look later and tell you the how long you can expect to have a version with it. Does that work for you?

[2019-11-25 17:37] o-ostrovskiy commented on #312
@dieppa cool, thanks!

[2019-11-25 18:02] dieppa commented on #320
Sorry, I am just seeing this.

Yeah, good point. I will look at that this week and I promise I will have a new release at the of it(at most)

[2019-11-25 18:04] dieppa commented on #312
Hello @krasova  again.
I think I can have it for Wednesday. Probably much earlier, but I can't commit to that.
Let me know if it works for you. Thanks

[2019-11-25 18:52] dieppa commented on #312
Anyway, thinking about it. If it's that urgent, I believe you can do your own workaround by tracking how long each changeSet takes and write down to log or even to mongo.

...Just a suggestion in case it's veery urgent.

[2019-11-25 18:55] o-ostrovskiy commented on #312
@dieppa Yes, thanks, I am doing this right now :-) but anyway It will be cool feature, flyway and other migration tools have this feature.

[2019-11-25 18:58] dieppa commented on #312
Agreed and I'm happy you suggested as it's a good one =D

[2019-11-26 14:50] o-ostrovskiy commented on #312
Probably, it will be good to have this info in the log as well. Something like this -
APPLIED - Mongock change[changeSetName] for method[methodName] at Tue Nov 26 09:48:14 EST 2019 by krasova, **execution time  - 234 ms**

[2019-11-26 15:32] dieppa commented on #312
yeah, that'd come for the same price :)

[2019-12-03 12:13] dieppa commented on #312
Hello @krasova don't take it as commitment, but I think we can have this sorted out by the end of this week

[2019-12-08 17:20] o-ostrovskiy commented on #312
Wonderful , thanks a lot!

[2019-12-09 09:05] dieppa commented on #312
Said that I probably need a couple of days more. Hopefully by Wednesday

[2019-12-10 10:07] dieppa commented on #312
Hello @krasova , sorry for this.
Being realistic this week will be pretty hard as we have a deadline at the end of it. However, after this and before Christmas we'll be relieved, so I can commit on having this(as well as other small issues) for next week, around Thursday.

I hope this works for you.
Thanks

[2019-12-17 19:00] dieppa commented on #320
Hi @LeJeanbono ,
sorry for the delay. Can you provide an example when it returns false with default profile? I am probably missing something, but don't see it

[2019-12-17 19:57] LeJeanbono commented on #320
Hey @dieppa !
When `activeProfiles` is `default` (No` @Profile `set on the class), the method return `false` because  `default` is not in profile list : https://github.com/cloudyrock/mongock/blob/b3b0198c0e48df563670c84f709d6a776616c755/mongock-spring/src/main/java/com/github/cloudyrock/mongock/SpringChangeService.java#L72`

[2019-12-17 20:10] dieppa commented on #320
Hey! thanks for your quick answer.
Have you tested it? Because I did and it returns true because of this [line](https://github.com/cloudyrock/mongock/blob/b3b0198c0e48df563670c84f709d6a776616c755/mongock-spring/src/main/java/com/github/cloudyrock/mongock/SpringChangeService.java#L60).

Unless I am missing something

[2019-12-17 20:36] LeJeanbono commented on #320
Yep
Keep `@Profile({"!test", "!dataset"})` and run Spring without profile : Mongock will not work.

[2019-12-17 20:37] dieppa commented on #320
cool, that what I needed 👍

[2019-12-18 16:29] dieppa commented on #320
Hello @LeJeanbono ,
3.0.7.BETA has been released with the profile fixed. I close this, but let me know when you are able to test it.

You can see the tests  we've added in [SpringChangeServiceTest](https://github.com/cloudyrock/mongock/blob/master/mongock-spring/src/test/java/com/github/cloudyrock/mongock/SpringChangeServiceTest.java)

[2019-12-18 16:29] #320 closed, assigned to nobody

[2019-12-19 09:46] dieppa opened #311 "Support for new com.mongodb.client.MongoClient"

[2019-12-20 20:14] o-ostrovskiy commented on #312
Cool, thanks!

[2019-12-25 11:50] #311 closed

[2019-12-25 12:08] dieppa opened #310 "Run Always changes are not stored in MongoChangeLog collection"

[2019-12-25 13:28] dieppa commented on #310
done

[2019-12-25 13:28] #310 closed

[2019-12-28 17:25] dieppa commented on #312
3.0.8.BETA

[2019-12-28 17:25] #312 closed, assigned to nobody

[2019-12-28 17:56] dieppa commented on #317
sorry for this delay, but we have prioritised other issues. Anyway, we have renamed version to systemVersion, it's not clear but at least people don't think it's the changeSet version and for clarification , people have the README and javadoc.
Thanks

[2019-12-28 17:56] #317 closed

[2019-12-28 18:14] #325 closed

[2019-12-28 18:14] #336 closed

[2019-12-31 09:19] minogin opened #309 "Mongock reexecutes ChangeSet on every run"
In version 3.0.8 Mongock does not respect changelog reexecuting already executed change sets on every run (despite "runAlways" is false). In 2.0.2 everything is OK.
BTW I don't use "version" field, only "id".

[2019-12-31 10:17] dieppa commented on #309
thanks. We added some changes around that which may affect. Also we had to disable the tests because fongo is not compatible with last version of mongod driver.

Anyway, that will be fixed for 2nd Jan

[2019-12-31 10:50] dieppa commented on #309
I actually just fixed and added some tests to cover it in 3.1.0.BETA. You can checkout the [changelog](https://github.com/cloudyrock/mongock/blob/master/CHANGELOG.md)

FYI: We enabled the tests again by adding testcontainers, but there is still some work to do on them. Once that is done and we are confident, we'll release a RC

[2020-01-01 10:38] #309 closed, assigned to nobody

[2020-01-02 12:51] dieppa opened #308 "Support for metadata in mongockChangeLog documents"
I has come up as requirement the need of having some way of tagging executions with some metadata.

This metadata would be added in the builder as execution time and propagated to each item in the collection mongoChangeLog.

[2020-01-02 17:43] dieppa opened #307 "Upgrade spring-data-mongodb to support new MongoClient API"
MongoTemplate supports new MongoClient since 2.2.

This requires:
- upgrade spring-data-mongodb
- implement decorators
- Adapt builder in spring module in order to return MongoTemplate from new MongoClient

[2020-01-03 16:22] vasanthraj opened #306 "package mongock annotations in a separate module"
Currently mongock annotations (@ChangeLog and @ChangeSet) are packaged as part of 'mongock-core' module, in use cases where change sets are defined and executed by different applications or processes, including the 'mongock-core' dependency brings in dependencies which are not really required for authoring change sets.

If the annotations are packaged in a separate module, it will help with separa

[2020-01-03 16:27] #307 closed, assigned to dieppa

[2020-01-03 18:14] #308 closed

[2020-01-09 09:20] pjonastik opened #305 "MongoTemplate argument in changeset's method doesn't work (Dropwizard)"
I use _Dropwizard_ and _Spring Data_ in our project and _Mongock_. Migration tool works fine when changeset methods contains **com.mongodb.client.MongoDatabase**, but when I  have tried it use with Spring's **MongoTemplate** argument as your documentations propose:

`@ChangeSet(order = "005", id = "someChangeWithSpringDataTemplate", author = "testAuthor")
public void someChange5(MongoTemplate mong

[2020-01-09 09:35] dieppa commented on #305
Hello @pjonastik , that's weird.  I have been using MongoTemplate with that version myself and haven't got that issue. Actually I just run it.

It would really helpful if you can show me how you are building the Mongock object, hopefully there is something not quite right there.

Otherwise, we will have a look, but cannot commit before the end of the week. However, you could try the last BETA vers

[2020-01-15 10:03] alexciornii commented on #305
@pjonastik the **2.0.2** version has a bug. Please try to use the last BETA version **3.2.1.BETA**

[2020-01-15 11:11] dieppa commented on #305
Thanks @alexciornii!
@pjonastik , we'll be updating the samples project to reflect this as well as the use of latest versions and integrations with other frameworks.

[2020-01-15 11:12] #305 closed, assigned to nobody

[2020-01-15 15:49] pjonastik commented on #305
@alexciornii thank you

[2020-01-15 16:33] dieppa commented on #305
@pjonastik  anything else you struggle with, please let us know.

[2020-01-16 19:38] dieppa opened #304 "allow several changeLog packages"
Currently mongo only allows just one package to be scanned.

[2020-01-16 19:43] dieppa opened #303 "Track all the changeSet with its execution result/state, regardless if it was executed"
The idea is to provide all the required and useful information in the changeLog entry in the database, so it can be later analysed and it can be easily understood.

So the changeSet will be always tracked in the database, but it will the execution result, like SUCCESS, RE-APPLIED, PASSED-OVER, FAILED

This will require updating the Mongock collection structure, so it will need to apply Mongock for

[2020-01-21 14:08] santam85 opened #302 "Use MongoTemplate rather than MongoClient to instantiate a new Mongock"
In SpringBoot projects, the only Bean we can autowire would be the MongoTemplate itself, from which seems pretty tricky (and pointless) to extract a new MongoClient. Please add the ability to instantiate a new Mongock directly with a MongoTemplate, at least for the SpringMongockBuilder.

[2020-01-21 14:16] dieppa commented on #302
Hello @santam85 ,

it's a good suggestion and fairly easy. We'll make our best to have a release at the end of today.

Will let you know.

Thanks

[2020-01-21 14:30] santam85 commented on #302
Thanks for the quick reply, looking forward to it!

[2020-01-21 18:45] dieppa commented on #302
Hello @santam85 ,

we have released version 3.2.2.BETA.

I am closing this issue, however I'd really appreciate if you can let us know if everything is ok for you.

thanks

[2020-01-21 18:45] #302 closed, assigned to nobody

[2020-01-22 11:44] santam85 commented on #302
@dieppa I can confirm that this is working for me! Thanks a lot for the quick turnaround.

If that's ok for you, I'll try my hand at a PR soon to make the framework a little more spring-boot friendly (IE: use the spring context to resolve, instantiate and inject ChangeLogs rather than resort to pure reflection)

[2020-01-22 11:53] dieppa commented on #302
Hello @santam85 ,

that sounds good, please feel free to do it and I will be more than happy to review it :)

[2020-01-24 17:35] nicholassmith opened #301 "Spring Boot 1.15.11: `java.lang.ExceptionInInitializerError`"
I'm trying to migrate a project over from Mongobee to Mongock, so far I've stripped all Mongobee refs out and dropped in Mongock like this:

[code]

However whenever I start up Spring I get: `java.lang.ExceptionInInitializerError: null` (happy to share more of the stack trace). I've made sure all of our existing `@ChangeLog`s and `@ChangeSet`s are pointing to Mongock, and I've binary searched thro

[2020-01-24 17:40] alexciornii commented on #301
@nicholassmith Please share more of the stack trace. Also try to use **3.2.2.BETA** version of mongock-spring.

[2020-01-24 17:53] dieppa commented on #301
Thanks @nicholassmith.
At first I can see one important thing, you are mixing standalone mongock with springMongock,. You're probably using Springboot, so I suggest this:
`
new SpringBootMongockBuilder(mongoClient, "yourDbName", "com.package.to.be.scanned.for.changesets")
      .setApplicationContext(springContext)
      .setLockQuickConfig()
      .build();
`

SpringContext is optional, but very

[2020-01-27 12:43] nicholassmith commented on #301
Thanks for the replies! @alexciornii here's further stack trace:
[code]

I can't use `3.2.2.BETA` however as it pulls in the latest version of some Spring dependencies which breaks a lot of our response layer code, even with them excluded as dependencies:

[code]

[2020-01-27 14:53] dieppa commented on #301
Hi  @nicholassmith , we'll be looking at this evening. I will come back to you.

Cheers

[2020-01-27 15:15] nicholassmith commented on #301
Got further, the exclude has to be very specific `org.springframework.data` in my case, however I get snagged on `A component required a bean of type 'com.mongodb.DB' that could not be found.` instead. I suspect that because we're trying to use a *much* older version of Spring Boot there's some requirement mismatches.

[2020-01-28 08:10] dieppa commented on #301
Sorry @nicholassmith , I wasn't able to have a look yesterday. I will try today, but I cannot commit as we got something urgent. I will keep you posted.

However, it seems, as you say, you are using an older version.
On the bright side, we are refactoring  the entire framework in such a way we are going to provide much better support for old versions of frameworks(spring, etc), driver and MongoDB(

[2020-02-03 14:00] Endron opened #300 "default name of change log collection missleading in README.md"
In the README.md's Standalone section (https://github.com/cloudyrock/mongock/blob/master/README.md#standalone-usage) the default for the change log collection is given as "dbchangelog".

`builder.setChangelogCollectionName(logColName);   // default is dbchangelog, collection with applied change sets`

This seams to be incorrect for version 2.0.2 here the collection is called "mongockChangeLog" by

[2020-02-03 14:15] dieppa commented on #300
Hello @Endron ,
You are right, that's wrong in the documentation. As you say, the collection name is mongockChangeLock. That will be fixed in the documentation today, along any other issue.

Please, don't hesitate to ask me any question you have or if you need help.

[2020-02-03 15:02] Endron commented on #300
@dieppa thanks for the amazingly fast response.
I do not need any further help from your side. After I found this it was easily fixed by just explicitly setting the collection name.

[2020-02-03 15:10] dieppa commented on #300
Thanks @Endron. Just out of curious, why do you need to set a specific collectionName?

[2020-02-03 15:13] Endron commented on #300
We are migrating from MongoBee (https://github.com/mongobee/mongobee) by setting the collection name it should be very much an in place update as mongobee stored all its changes in documents that look like Mongock's changelog documents. So my hope is that this will keep everything running as is.

[2020-02-03 15:18] dieppa commented on #300
Ok, let me know if you fin any issue, because in the last versions we removed that setter. If that were the case, I would provide a fix, as it makes totally sense to keep for these cases.

[2020-02-03 16:32] Endron commented on #300
I would encourage keeping the option to set the collection for the change log.
Being opinionated is fine and dandy. But you should always keep an option to get out of your carefully chosen defaults :wink: And if you remove it now you might be breaking backwards compatibility for anyone who is using it...

[2020-02-03 17:17] dieppa commented on #300
Thanks again. That's enabled in the last version 3.2.3.BETA ;).

I close this issue. Anything else you need, please let us know

[2020-02-03 17:17] #300 closed, assigned to nobody

[2020-02-11 10:46] Ovaro commented on #316
I am having the same issue after upgrading to the non-BETA version 3.2.3 from 2.0.2. I am using Running with Spring Boot v2.1.11.RELEASE, Spring v5.1.12.RELEASE.

Exception:

Caused by: com.github.cloudyrock.mongock.MongockException: Can't find a codec for class java.time.ZonedDateTime.
        at com.github.cloudyrock.mongock.Mongock.executeMigration(Mongock.java:118)
        at com.github.cloudy

[2020-02-11 10:51] dieppa commented on #316
Sorry , I didn't update on this. I wasn't able to reproduce this, and we was distracted by some other more urgent matters. We'll look at this today. However, it would be nice if you can provide an example app that I can checkout out and reproduce easily.

Thanks @Ovaro

[2020-02-11 11:58] smnnn opened #299 "Entities with @Indexed cause Mongock instantiation failure"
Hello

We are trying out mongock in a Spring Boot project. The creation of the SpringBootMongock bean seems to fail when an entity with the ```@Indexed``` annotation exists. When removing the ```@Indexed``` annotation from the (unrelated) entity, everything works as expected. Note that the indices have been correctly created by the time the SpringBootMongock bean instantiation fails.

full annotat

[2020-02-11 12:16] dieppa commented on #299
Thanks, we'll have a look as soon as possible(my expectation is today). Could you provide version of springboot, spring data and Mongock, please?

Thanks @smnnn

[2020-02-11 13:07] smnnn commented on #299
Thanks for the quick response. We are using:
Spring Boot/Spring Data/Spring Mongo: 2.2.4.RELEASE
mongock-spring: 3.2.3

Same issue using the version 2.2.3.RELEASE of Spring
Also no changes with or without the mongock-spring exclusion of mongo-java-driver

[2020-02-11 13:10] dieppa commented on #299
Thanks, no worries, we were already able to reproduce it. It's a tricky one, which has several ways to fix it, but we need to evaluate pros and cons. I am confidence you can expect to have it fixed at the end of today, but I cannot commit to that. In the worse case, by Thursday evening.

Cheers

[2020-02-11 21:43] Ovaro commented on #316
Hi @dieppa  - this is on a Jhipster based app where I have moved to monogock rather than mongobee.

`@Configuration
@EnableMongoRepositories(basePackages = "xxx.repository", includeFilters = @Filter(type = FilterType.ASSIGNABLE_TYPE, value = MongoRepository.class))
@Profile("!" + JHipsterConstants.SPRING_PROFILE_CLOUD)
@Import(value = MongoAutoConfiguration.class)
@EnableMongoAuditing(auditorAware

[2020-02-11 22:04] dieppa commented on #316
Hello, that's probably because we migrate from a proxy approach to control the lock to implement decorators.

Anyway, we have been able to reproduce it and doesn't seem that will be hard to fix. It will be fixed by Thursday evening.

Cheers

[2020-02-11 22:11] Ovaro commented on #316
@dieppa Awesome! Great to hear it wasn't a big problem. I didn't look into the cause as I saw this open issue. Really appreciated. Cheers.

[2020-02-11 22:29] dieppa commented on #316
@Ovaro, I believe that if you use MongoTemplate, instead of MongoClient, it works fine. Can you check, please?

Just notice that currently there is a bug using MongoTemplate, which affects for example to fields with annotated with @Indexed. However this is fixed, but not released yet. Will be released before Thursday, together with any fix this issue require, if it's the case.

[2020-02-11 22:44] Ovaro commented on #316
@dieppa Yeah, I assumed that earlier as I used to pass in the MongoTemplate to mongock before the 3.2.3 upgrade. I tried use the MongoTemplate based constructor and ran into the index issue you describe. The funny thing is that when I reverted to 2.0.2 I left the mongo template out and it works without passing in the MongoTemplate.

But yes, I do agree that might be the problem for Mongock and am

[2020-02-11 22:45] dieppa commented on #316
great, will keep you updated ;)

[2020-02-11 23:06] Ovaro commented on #316
FYI- Jhipster made a decision to stay with mongobee, but it doesn't support Mongo Atlas, hence why I switched (there is an issue on their github issue list if you want to see their reasoning on staying with Mongobee. You might want to convince them to switch to monogock - you would immediately get thousands of users. Just a thought.

[2020-02-11 23:49] dieppa commented on #316
Thanks @Ovaro. Mongobee not only doesn't  support Atlas, they don't provide a decent lock mechanism neither a lot of  other important features Mongock gives you. But more important than that, they stopped maintaining the library. Actually Mongock started because of a PR that they never reviewed. Since then, we have added a lot of more functionalities and much more we have in our roadmap, which wil

[2020-02-13 22:03] dieppa commented on #301
Hello @nicholassmith , I don't know if you have worked it around or not. But Just for you to know that com.mongodb.DB is not supported in the new 3.X version( I just realised it now, after reading your message again). You should use MongoDatabase.

Let me know how it goes

[2020-02-13 22:05] dieppa commented on #316
Hello @Ovaro ,

I said that we were able to release a version today, but I need to say sorry because that won't be possible.

I think I will be able to have it done by tomorrow, but then we need to perform some tests, so it will be probably Monday.

Regards

[2020-02-13 22:07] dieppa commented on #299
Hello @smnnn,
I said we were able to release a version today, but I need to say sorry because that won't be possible.

I think we will be able to have it done by tomorrow, but then we need to perform some tests, so it will be probably Monday.

Regards

[2020-02-13 22:37] Ovaro commented on #316
@dieppa No worries! I have rolled back to 2.0.2 so this bug hasn't slowed me down. Cheers

[2020-02-14 07:18] radhe-soni opened #298 "ChangeSet.runAlways not working for mongock version 3.2.3"
* Spring-Boot version - 2.2.3.RELEASE
* Spring management plugin version - 1.0.9.RELEASE
* Mongo db version - 4.2.3
## My Configuration -
@ChangeSet(id = "alwaysRunMigrations", order = "011", author = "my_service", systemVersion = "4", runAlways = true)

Error -
`Caused by: com.mongodb.MongoWriteException: E11000 duplicate key error collection: myDB.mongockChangeLog index: author_1_changeId_1 dup

[2020-02-14 08:22] dieppa commented on #298
Ouups. we'll have a look, if it's a bug, which seems to be, Fixed today

[2020-02-14 08:46] dieppa commented on #298
quick question, you just started using Mongock or you upgraded from 2.X?

Because it only makes sense if you are upgrading from 2.x. That's why we haven't made it official yet. We need to document the process.

So, if, as said, you upgrading, please keep 2.x until Monday, when I believe I can give you the exact steps you need to execute(very easy), or we even add them to Mongock so you don't need

[2020-02-14 09:12] radhe-soni commented on #298
1. I was running mongock 2.0.2 version in one project and 3.0.5-Beta version on another on windows.
2. I changed my os to ubuntu, everything got refreshed right from .gradle directory to JVM(oraclejdk to openjdk).
3. Now the system gave me some cglib-asm error where 2.0.2 version was used.
4. At this point I decided to update mongock version.
5. Now I have updated version from 2.0.2 to 3.0.5-Beta

[2020-02-14 09:25] dieppa commented on #298
Cool, I know exactly what error you are facing. And I can commit to provide you a solution by Monday. You may even don't need to do anything, just use the last version we'll release on Monday, but in the worse case scenario, you might be required to do some very easy process.

In version 3.x we move from cglib(before we were using proxies) so you don't need to worry about that anymore.

So, please

[2020-02-17 20:00] dieppa commented on #298
Hello @radhe-soni ,

we have a new release which make this easy for you. Don't need to do anything, just update the maven dependency to 3.2.4.

Please let me know how it goes.
Thanks

[2020-02-17 20:01] dieppa commented on #299
Hi @smnnn ,

please give a try to version 3.2.4. Let me know if it works for you, so I can close this issue

Note: Don't forget to use MongoTemplate in your changelog. NO MongoClient. ;)

[2020-02-17 20:02] #301 closed

[2020-02-17 20:03] dieppa commented on #316
Hey @Ovaro ,

version 3.2.4 is released and should work for you.

Please let me know.
Thanks

[2020-02-17 21:34] Ovaro commented on #316
@dieppa Just tested with the new MongoTemplate constructor and works perfectly.

Thanks!!

[2020-02-17 23:26] dieppa commented on #316
Thank you. I close this :)

[2020-02-17 23:26] #316 closed

[2020-02-18 09:01] smnnn commented on #299
@dieppa
We gave 3.2.4 a try, works great. Thank you!

[2020-02-18 09:01] #299 closed

[2020-02-27 20:02] #298 closed

[2020-02-27 20:08] #324 closed

[2020-02-27 20:10] #335 closed, assigned to nobody

[2020-02-27 20:10] #304 closed

[2020-02-27 20:10] #306 closed, assigned to nobody

[2020-02-27 20:10] #313 closed, assigned to nobody

[2020-02-27 20:10] #322 closed

[2020-02-27 20:10] #303 closed, assigned to nobody

[2020-03-06 18:25] dieppa opened #297 "Survey for Mongock roadmap"
Hi all, we are designing the roadmap for the next features and we think that it's crucial that we understand the user's needs and preferences. For this we have created a quick survey to understand what is important for you and also to allow you to give us any idea or need you have and we haven't thought about.

We would really appreciate you take 2 minutes to fill it.
Thanks in Advance.

[Mongock

[2020-03-06 18:25] dieppa opened #363 "Survey for Mongock roadmap"
Hi all, we are designing the roadmap for the next features and we think that it's crucial that we understand the user's needs and preferences. For this we have created a quick survey to understand what is important for you and also to allow you to give us any idea or need you have and we haven't thought about.

We would really appreciate you take 2 minutes to fill it.
Thanks in Advance.

[Mongock

[2020-03-16 10:42] zambardus opened #296 "AbstractMongoEventListener BeforeConvertEvent not getting called"
Hi, I am shifting from Mongobee to Mongock because of mongobee issue#87

I am using following version for my spring boot application:
`compile('com.github.cloudyrock.mongock:mongock-spring:3.2.4')`

I had created a sequence generator in my application whose purpose was to save the _id as a numerical value which was done through onBeforeConvert() method event extended from AbstractMongoEventListene

[2020-03-16 10:52] dieppa commented on #296
Hello @zambardus,

we'll be looking at this today and will come back to you either this evening or tomorrow morning(UK time).

Cheers

[2020-03-16 10:53] dieppa commented on #296
meanwhile can you provide all the information you can, like spring version, mongoDB, etc.

Cheers

[2020-03-16 10:54] dieppa commented on #296
and also the way you are building Mongock object, that's quite important

[2020-03-16 10:59] zambardus commented on #296
Springboot version: 2.2.2.RELEASE
Mongo DB version: 4.2.3

Mongock object initiation:

[code]

[2020-03-16 11:51] dieppa commented on #296
Ok, can you try by using MongoTemplate instead of mongoClient, as you can see below?
Please le me know .

[code]

[2020-03-16 12:36] zambardus commented on #296
You are correct in pointing out to declare mongoTemplate, as I read it [here](https://docs.spring.io/spring-data/mongodb/docs/current/api/org/springframework/data/mongodb/core/index/MongoMappingEventPublisher.html)

But it didn't help as I am still getting the same error. Also, it takes 127.0.0.1:27017 as the mongo url since I didn't mention mongo client's url

[2020-03-16 12:41] dieppa commented on #296
Hi @zambardus ,

I am missing something here. You are saying that MongoTemplate is taking 127.0.0.1:27017?
If that is right, the problem is that you are no configuring MongoTemplate correctly. You probably need to add your mongoDB configuration properties, like url and port, in your spring property file and then, you MongoTemplate will take and then you can inject it to Mongock.

[2020-03-16 13:01] zambardus commented on #296
Hey, that has been configured. But still the issue persists.

[2020-03-16 13:07] dieppa commented on #296
can you send me an email with the code for the Mongock generation and that new error trace as antonio@cloudyrock.io, please?

[2020-03-16 20:58] dieppa commented on #296
Hi @zambardus,

I have been digging into this. It's not a bug. The method onBeforeConvert on AbstractMongoEventListener is called when using a Repository, no when using MongoTemplate.

As you can read in Mongock's documentation, you are free to use Repositories in your changelogs by just declaring the bean and add it in the Change set method signature. However, currently repository actions are not

[2020-03-16 20:58] #296 closed

[2020-03-17 10:08] zambardus commented on #296
Working fine with MongoRepository. Thanks for the support and advice for using locks with repository.

[2020-03-27 11:46] raverone opened #295 "can't set lock collection name"
Currently it's not possible to change lock collection name for any mongock builder.
There is an example in readme telling how to do it, but it is wrong, there is no such method "setLockCollectionName" in any mongock builder.
Please add such method, so it can be used just like in readme.

[2020-03-27 12:16] dieppa commented on #295
Can I ask what do you need to change the name of the lock collection for?

[2020-03-27 19:36] raverone commented on #295
I need multiple instances of mongock to work with same db. And I need them to not block each other.

[2020-03-28 09:58] dieppa commented on #295
Hello @raverone, thanks, I wanted to understand your need. Sorry, but parallel processing is not possible right now due to an internal limitation related to Spring MongoTemplate.

However, this is something we have added to our roadmap for the next release, which will be published soon.

Meanwhile, I would like to know how bad is for you to run it sequentially?

Thanks

[2020-03-30 09:34] lorschtan opened #294 "Try to bring custom params to changset but get argument not injected exception"
Sorry, I was new in mongo.

I was try to create a changeset method with custom params (my mongo property class), but when run will get (Method [method name] using argument [custom mongo property class] not injected) exception.

May I know how to inject my property class?

(using 3.2.4 version)

[2020-03-30 09:39] dieppa commented on #294
Hello @lorschtan , could you provide a bit more information:
1) MongockSpring?
2) Can you provide the code of the changeSet, or at least the signature
3) anything you feel relevant

Thanks

[2020-03-30 13:12] martinnemec3 commented on #295
Hello, I would also appreciate if the name of the lockCollection would be settable.

IMHO there can be multiple reasons for this, e.g. that a user wants to have maintenance-related collections names to follow some pattern (like '_' at the beginning, etc...)

Thanks.

[2020-03-30 13:31] dieppa commented on #295
I see your points @martinnemec3  and @raverone, and I agree. We'll make this available, but we need to be quite visible and explicit that currently parallel processing is not possible.

Thanks, I'll keep you updated

[2020-03-30 13:53] dieppa commented on #295
I think this can released tomorrow.

Meanwhile, @martinnemec3  @raverone   If it's not an inconvenient for you, could you take 1 minute to fill this small survey, please? It will help us a lot.

Thanks

[2020-03-30 21:04] dieppa commented on #295
@raverone  and @martinnemec3 3.2.5 has been released and you have the method setLockCollectionName re-enabled.

A section referring to parallel processing has also been added to the readme.

Thanks

[2020-03-30 21:04] #295 closed, assigned to nobody

[2020-03-30 21:42] raverone commented on #295
Great, thanks! Did you post a link for the survey? Or am I missing something?

[2020-03-30 21:43] raverone commented on #295
Oh, I got it :D

[2020-03-31 02:04] lorschtan commented on #294
yes, mongock spring.

[code]

the maven for mongo
[code]

this is the mongock config

[code]
this is my changeset
he mongoconfig is my custom mongo config. i'm actually try to create a changeset that able to do create database, create collection, create user and set up db auth

this is all the thing that related to mongo in my project

[2020-03-31 02:07] lorschtan commented on #294
i tried to bring params (mongo template, spring framework core environment), but the environment also having the same issue (not injected), is it required anthing else?

[2020-03-31 07:43] dieppa commented on #294
Hello @lorschtan , you are not injecting the Spring Application context as you can see [here](https://github.com/cloudyrock/mongock#usage-with-springmongock-as-a-bean) .

Please try this an let me know how it goes ;)

[2020-03-31 08:48] lorschtan commented on #294
@dieppa , Yea, It works. Thank you so much.

[2020-03-31 08:48] #294 closed

[2020-03-31 08:56] dieppa commented on #294
Great @lorschtan , I am glad it worked :)

[2020-04-13 12:44] zambardus opened #293 "MongoTempalteDecorator breaks with Indexes: LockCheckException MaxTries(3) Reached"
I am using Mongock and it is working fine. But sometimes it throws error related to Mongo LockCheck. Please find the stacktrace:
`com.github.cloudyrock.mongock.LockCheckException: MaxTries(3) reached
    at com.github.cloudyrock.mongock.LockChecker.handleLockException(LockChecker.java:216) ~[mongock-core-3.2.4.jar:na]
    at com.github.cloudyrock.mongock.LockChecker.ensureLock(LockChecker.java:133

[2020-04-13 13:36] dieppa commented on #293
Hello @zambardus ,

we'll have a look, but it would make much easier if you can provide as much code and info as possible.

Regarding code we would need at least the **Mongock Building piece** and everything you find relevant.

In terms of info, having a very quick look I see it's struggling to acquire the lock. So I would appreciate you answer some questions:
1) **Are running more than service in

[2020-04-13 13:58] zambardus commented on #293
Below is mongock config:
`public class MongockConfig {

    @Bean
    public SpringBootMongock mongock(ApplicationContext springContext, MongoTemplate mongoTemplate) {
        return new SpringBootMongockBuilder(mongoTemplate, "com.path.changelogs")
                .setApplicationContext(springContext)
                .setLockQuickConfig()
                .build();
    }

}`

And this is how I mad

[2020-04-13 14:18] dieppa commented on #293
Thanks @zambardus , that's helpful. Now I know that, I've got some other questions:

1) Is the migration heavy? Let's define heavy as a  migration that potentially requires longer than the Kubernetes  initialDelay for a pod.

2) Is the pod eventually started or keep restarting without never getting to start?

[2020-04-13 14:28] zambardus commented on #293
Hey @dieppa, following are the answers to your questions:

1. The migrations run well in time, before the initialDelay.
2. The pod is stable and only restarts only when triggered.

The issue is reproducible even on my local device, hence is not a kubernetes issue. It happens sometimes like 1 out of every nth request gets this error (where n<100).
Does mongock try to occupy lock for normal transact

[2020-04-13 14:39] dieppa commented on #293
Thanks, we'll have a look and will let you know as soon as possible.

Cheers

[2020-04-16 07:32] zambardus commented on #293
Hey @dieppa any leads would be helpful. Waiting for a reply. Thanks.

[2020-04-16 07:43] dieppa commented on #293
Hi @ zambardus
Oh, sorry. I thought I wrote a message, but it wasn't sent. Don't know what happened, it seems I didn't pressed the button or something. Anyway, was something like this:

I asked about Kubernetes and the migration load because there are some limitations which should be taken into account in your migration design. Please take a look to this [link](https://github.com/cloudyrock/mongoc

[2020-04-16 08:16] zambardus commented on #293
Tried with latest version 3.2.6. Here is the error message.
[code]

[2020-04-16 08:53] dieppa commented on #293
Hi @zambardus  Cool, thanks. That seems helpful. We'll having a look and keep you updated.

Thanks

[2020-04-16 22:25] dieppa commented on #293
Hello @zambardus ,

we have been trying to figure out what are the posible scenarios you are facing.

Being honest, the lock is very well covered by unit and integration tests.

By looking the trace you sent me and double checking the code, we can ensure the  issue is because the lock is held by other 'owner'. The only reason I think of is that somehow you are running two instances of Mongock in t

[2020-04-17 06:49] zambardus commented on #293
Please find latest log stack. No issues @dieppa , I too appreciate your efforts for continuous support.

[code]

[2020-04-17 11:39] dieppa commented on #293
Ok, there is something really weird. Is this happening before Mongock actually runs, during a ChangeSet or after Mongock is done?

You said you are able to reproduce this in your local too. So a way to answer my question is by adding a break point in Mongock.java:83 and Mongock.java:102.

In case this is happening executing a ChangeSet(I'd be surprised), can you share the code of your changeSet?

[2020-04-22 09:11] zambardus commented on #293
@dieppa
I tried with debugger points. When the server starts the migration run successfully(if there are any new). But what I observed on my first API call (mainly PUT or POST), Mongock.java's execute method is not executed as it does not stick to any line on debugger points. I get MaxTries error with the below message:
[code]

As per the message, expiresAt is roughly 3 minutes after the Mongock.j

[2020-04-22 11:27] dieppa commented on #293
So, correct me if I am wrong, you are saying this error happens when you make a REST API Request(mainly post or put). So  if you start your spring boot application(with or without new changeSets to be run) if you wait, lets say 4 minutes, then you make a POST request, this happens. Am I right?

[2020-04-22 12:00] zambardus commented on #293
Yes. And this happens in between too for some calls randomly, but the first call will surely give error.

[2020-04-22 12:07] dieppa commented on #293
Sorry, I forgot to add:
...So if you start your spring boot application(with or without new changeSets to be run), **it starts successfully**. Then if you wait, lets say 4 minutes, then you make a POST request, this happens.

If that it's right, either there is an error on your side, which somehow is making your repositories using the MongoTemplateDecorator or there is a bug in Mongock, which is d

[2020-04-22 12:20] andrelanca opened #292 "Is it possible to run mongock in multiple databases?"
Hello there,
I'm implementing Mongock in a multi tenant project and I want to iterate through all databases and create the SprintBootMongock object... But how can i create a Bean of SpringBootMongock for all my databases ? For one works perfectly, but for more i don't know how to implement multiple beans, because the number of databases are dynamic

[2020-04-22 12:23] zambardus commented on #293
I tried to create a record with PUT request on application after 5 minutes of it getting started. I still got the error message that lock is acquired for next 3 minutes.

Below is my repository declaration.
[code]
So I see two possibilities which can be causing the issue:
1. Javers is trying to acquire lock and the plugin is not working well along with mongock.
2. Does mongock play any part in ind

[2020-04-22 13:02] zambardus commented on #293
Additionally I have a couple of queries which I would like to understand.
1. Do we need Mongock at repository level once the migration execution is complete? If yes, what is its reason?
2. Since there can be multiple pods deployed for my service, can we run the migrations not as a part of my service but as a part of docker installation? Or if there is any better way, please share your view on that

[2020-04-22 13:39] zambardus commented on #293
@dieppa  I think I have found the issue. As I pointed out 2 possibilities that can be causing the issue, I tried removing javers from my application and the issue still persisted. But then I tried with removing my indexes from my Model class and the error went away. So the thing is a bit clear that indexes is causing the error.
Can I disable mongock to update indexes or will it be doing it?
If yes

[2020-04-22 13:59] dieppa commented on #293
Hello @zambardus , I cannot look at this now,  but I will try to have a look to it this evening. Meanwhile if you can provide everything it could be relevant for me to reproduce it, that would be amazing. I can think of the entire class where you are using that compoundIndexes(you can hire/rename/amend anything you want to hire). The easier it's for me to reproduce it, the quicker I can find the s

[2020-04-22 15:25] zambardus commented on #293
I have renamed my model and fields but this is similar to the way the indexes have been designed.
`deleted` field is for soft delete and  `user_country_activation_idx` is for indexing country, deleted and activation status of the user and as per my case kept country, deleted and activation status in that order.
[code]

The activation model looks like this:
[code]

The sequence generator that incre

[2020-04-22 15:53] dieppa commented on #293
Ok, this should be enough to reproduce it. I will keep you posted.

Thanks

[2020-04-22 18:50] dieppa commented on #292
Hello @andrelanca , how are you managing the access to each database? Different MongoTemplates?

[2020-04-22 19:00] andrelanca commented on #292
@dieppa already found a way, but thanks for your help :)

[2020-04-22 21:33] dieppa commented on #293
Hello @zambardus , we think we might have found the issue. We need to keep investigating and will provide bug-fix. Realistically that won't happen before Friday or it could delay until Monday.

Does it work for you?

[2020-04-22 22:28] dieppa commented on #292
What ever you found I would be cautious, Mongock right now doesn't support that and you can get some unpredictable result. However it's in our road map

[2020-04-23 06:04] zambardus commented on #293
Great. Can you provide a bit info about what is causing the issue. It would be great if the bug can be fixed by Friday, but Monday also works. Thanks.

[2020-04-23 08:27] dieppa commented on #293
We'll try our best to have it by Friday.

Thanks

[2020-04-23 08:49] andrelanca commented on #292
Ok, I'll keep that in mind. Thank you :)

[2020-04-23 08:49] #292 closed, assigned to nobody

[2020-04-24 09:51] sshcherbakov commented on #293
+1. It seems that we are running in to the same issue as well.

[2020-04-26 21:43] dieppa commented on #293
Hello @zambardus , @sshcherbakov, we are probably going to need another day.

Thanks

[2020-04-27 17:20] sshcherbakov commented on #293
@abinet's fix works well in our case

[2020-04-27 17:54] dieppa commented on #293
I am glad it works for you, I haven't actually been able to reproduce your exact issue.
However we run some test cases we that change and doesn't solve the main issue.

So I guess you can use @abinet's fix locally until we release the new version

[2020-04-27 20:13] dieppa commented on #293
Hello @zambardus , @sshcherbakov  and @abinet,

Although we weren't able to reproduce the exact issue you were running into, the issue is general and due to a decision that we thought it was the right one at that moment. However, we have rectified on that.

You have version 3.3.0-BETA with some bug fixes, which implies some deprecations that will be removed in the next major release.

**Please hav

[2020-04-28 09:12] abinet commented on #293
@dieppa
Just tried the 3.3.0-BETA and unfortunately the issue still exists. I've added some logging to illustrate:

[code]

I must admit  this happens not on every test but after 6-7th one, so it can be an embedded mongo missbehaviour. Probably not connected to the multi-threading (the tests are running sequencially)

[2020-04-28 09:19] dieppa commented on #293
Hi @abinet ,
first thanks for your quick feedback.

lets see @zambardus , @sshcherbako's feedback, but I want to understand your issue, so I can confirm is related to embedded mongo or not.

- Are you running Mongock in a multithreading environment? Please keep in mind that Mongock doesn't support multithreading at the moment, what provides is distributed synchronisation.

- Could you explain me h

[2020-04-28 09:36] dieppa commented on #293
@abinet , just wondering is there any chance that you are trying to run a mongock instance before a previous one has ended? Because looking at your log, a runner is trying to acquire the lock when is held by other owner. That's the expected behaviour.
[code]

I don't really know what you are testing, but depending on your requirements you might want to play with the lock configuration:

[code]

In

[2020-04-28 09:36] abinet commented on #293
@dieppa
check the logs from my previous comment - there is only main thread

Regarding the LockConfig
Current implementation does not wait  maxWaitingForLockMinutes when the lock is **from the same owner**. I don't know is it intentionally or not

Here is how I'm instantiate:

[code]

[2020-04-28 09:44] dieppa commented on #293
`Current implementation does not wait maxWaitingForLockMinutes when the lock is from the same owner. I don't know is it intentionally or not` > **No, only if different owner**

[2020-04-28 09:46] dieppa commented on #293
I got confused with the log. We are not printed(toString() is not implemented apparently) the current lock when trying trying to acquire. Let me change that and release a new beta so I can see the exact owner when that happens. It could be a different issue.

[2020-04-28 09:55] abinet commented on #293
@dieppa please check my previous comments:
1. I've updated v3 version to provide more detailed logging.
2. It's single thread
3. The issue from the logs: sometimes mongoCollection does not update the lock record  and in this case LogChecker re-tries immediately.  After 3 such a re-tries  mongock fails to start.

[2020-04-28 10:03] dieppa commented on #293
Ok, I have released a new BETA version((3.3.1-BETA), it's needed anyway as LockEntry wasn't printed.

From what you are saying, it seems to be an issue with embedded Mongo. I am 99.9% sure we have test coverage for that scenario, when the same owner updates the Lock in Mongo. But let me confirm that this evening, ok?  In any case it's a good case to keep in mind and add it to the documentation :)

[2020-04-28 10:33] zambardus commented on #293
Hey @dieppa version 3.3.0-BETA did not work well. Still getting the error:
[code]

[2020-04-28 10:43] dieppa commented on #293
Hi @zambardus from you log I can see you are still using MongoTemplate in your changeLogs,
please replace them with **MongockTemplate** as per these [release notes](https://github.com/cloudyrock/mongock/releases/tag/v3.3.0-BETA) and let me know ;)

[2020-04-28 11:17] sshcherbakov commented on #293
Hello @dieppa
Initially, I've tried to follow examples:
[code]
and then
[code]

as you can see, I'm not using MongoTemplate in the ChangeSet method. I assume that my Spring Data Mongo repositories get MongockTemplate automatically underneath because I'm having SpringBootMongock bean (following description and examples).

Those 2 places above are literally the only places in our application code wh

[2020-04-28 11:22] dieppa commented on #293
Hi guys, there is misunderstanding here. It seems that the issue @abinet and @sshcherbakov  are very different from the @zambardus . So I am going to create a new issue for you guys and keep this for the initial one created by @zambardus.

[2020-04-28 11:23] dieppa commented on #293
@zambardus , please keep me updated it after performing the changes I mentioned in the previous comment

[2020-04-28 11:25] dieppa opened #291 "Lock doesn't get update with same owner when embedded"
From @abinet

@dieppa
Just tried the 3.3.0-BETA and unfortunately the issue still exists. I've added some logging to illustrate:

[code]

I must admit  this happens not on every test but after 6-7th one, so it can be an embedded mongo missbehaviour. Probably not connected to the multi-threading (the tests are running sequencially)

_Originally posted by @abinet in https://github.com/cloudyrock/mon

[2020-04-28 11:27] dieppa commented on #291
Hi @abinet ,
first thanks for your quick feedback.

lets see @zambardus , @sshcherbako's feedback, but I want to understand your issue, so I can confirm is related to embedded mongo or not.

- Are you running Mongock in a multithreading environment? Please keep in mind that Mongock doesn't support multithreading at the moment, what provides is distributed synchronisation.

- Could you explain me h

[2020-04-28 11:27] dieppa commented on #291
@abinet , just wondering is there any chance that you are trying to run a mongock instance before a previous one has ended? Because looking at your log, a runner is trying to acquire the lock when is held by other owner. That's the expected behaviour.
[code]

I don't really know what you are testing, but depending on your requirements you might want to play with the lock configuration:

[code]

In

[2020-04-28 11:27] dieppa commented on #291
From @abinet

@dieppa
check the logs from my previous comment - there is only main thread

Regarding the LockConfig
Current implementation does not wait  maxWaitingForLockMinutes when the lock is **from the same owner**. I don't know is it intentionally or not

Here is how I'm instantiate:

[code]

[2020-04-28 11:28] dieppa commented on #291
from @abinet

@dieppa please check my previous comments:

I've updated v3 version to provide more detailed logging.
It's single thread
The issue from the logs: sometimes mongoCollection does not update the lock record and in this case LogChecker re-tries immediately. After 3 such a re-tries mongock fails to start.

[2020-04-28 11:28] dieppa commented on #291
Ok, I have released a new BETA version((3.3.1-BETA), it's needed anyway as LockEntry wasn't printed.

From what you are saying, it seems to be an issue with embedded Mongo. I am 99.9% sure we have test coverage for that scenario, when the same owner updates the Lock in Mongo. But let me confirm that this evening, ok? In any case it's a good case to keep in mind and add it to the documentation :)

[2020-04-28 11:29] dieppa commented on #291
from @sshcherbakov

Hello @dieppa
Initially, I've tried to follow examples:
[code]
and then
[code]

as you can see, I'm not using MongoTemplate in the ChangeSet method. I assume that my Spring Data Mongo repositories get MongockTemplate automatically underneath because I'm having SpringBootMongock bean (following description and examples).

Those 2 places above are literally the only places in our

[2020-04-28 11:31] sshcherbakov commented on #293
Oh, and I must mention, that almost all of our domain entities for Spring Data Mongo repositories are having @CompoundIndexes on them (the reason why I thought that our issue belongs here).

[2020-04-28 11:34] dieppa commented on #291
@sshcherbakov,

**Oh, and I must mention, that almost all of our domain entities for Spring Data Mongo repositories are having @CompoundIndexes on them (the reason why I thought that our issue belongs here).***   > Yes, you probably run into two different issues, one is the initially created one, which should be fixed by the BETA version and following the steps and the other one, which we are disc

[2020-04-28 11:39] zambardus commented on #293
Hey @dieppa I was using MongoRepository in changelogs earlier when the above error came. Now I shifted to MongockTemplate but there also I am still facing the same issues. Below is my code for changeset:

[code]

And below is the log:
[code]

[2020-04-28 11:50] dieppa commented on #293
@zambardus sorry, we made a mistake because of the rush. Please let us release e new beta which will hopefully work.

Sorry

[2020-04-28 11:56] dieppa commented on #291
Sorry, we realised that the BETA published was wrong. We are realising it again and let you know guys.

Thanks

[2020-04-28 12:33] dieppa commented on #293
Hi again @zambardus , please have a try with **3.3.2-BETA**. We are pretty confident this fixes your issue.

Please notice that currently Spring repositories are not covered by the lock, that feature is the roadmap and will be soon provided in the version 4.x.x. Until then, we recommend to use **MongockTemplate**.

Let us know how it goes.

Thanks

[2020-04-28 12:35] dieppa commented on #291
Hello guys, we have release **3.3.2-BETA**. We are pretty confident this fixes the initial issue. Probably won't fix this as they are totally unrelated ones. However, it's worthy to have a try with this.

Let us know

[2020-04-28 12:58] abinet commented on #291
@dieppa thank you. I can confirm fixed behaviour with 3.3.2-BETA. Mongock is not trying to lock for every index X collection on startup. Thus the issue with embedded mongo not updating has become less critical.

[2020-04-28 13:15] dieppa commented on #291
Thanks @abinet for your feedback.
But your tests are still not fixed, right?

[2020-04-28 14:00] abinet commented on #291
@dieppa my tests are fixed as well.

[2020-04-28 14:09] dieppa commented on #291
@sshcherbakov let me know how it goes on your side, so we can close this issue :)

[2020-04-28 14:11] zambardus commented on #293
Yes 3.3.2-BETA is working fine as of now. Thanks for the support :)

[2020-04-28 14:15] dieppa commented on #293
Great @zambardus , thank for your feedback.

For us it would help a lot if you can fill this [survey](https://forms.gle/uk9jmtKvxJzi5Bda7) which only takes few minutes.

Thanks a lot

[2020-04-28 14:15] #293 closed

[2020-04-29 16:39] dieppa commented on #291
Hi @abinet and @sshcherbakov,We'd really appreciate if you fill this [small survey](https://forms.gle/uk9jmtKvxJzi5Bda7), which will take just 1 minute and will help us a lot.

Thanks

[2020-04-29 18:38] juja0 opened #290 "Support for mongo java driver v4.0+"
I'm using mongock in my dropwizard project which already uses mongodb-driver-sync v4.0

When I add mongock-core v3.2.8 to my codebase, some of my existing tests break with the following error.

java.lang.NoSuchMethodError: 'com.mongodb.client.result.InsertOneResult com.mongodb.client.MongoCollection.insertOne(java.lang.Object)'

As described in the 'known issues' section, if I exclude 'mongo-java-

[2020-04-29 19:15] dieppa commented on #290
Hi @juja0 ,

first thanks for your feedback.
We are currently working on **Mongock V4.0**(while obviously maintaining V3.X). In this version we are not only providing new features, also refactoring it in such a way that it's split in modules. The part that is dealing with the package processor, framework,  etc. is called runner(standalone, spring, etc.) and the persistence side, driver(Mongo drive

[2020-04-29 20:02] juja0 commented on #290
Thanks for the quick reply :)

Splitting by persistence type makes sense. To your questions,

1. It's a dropwizard based server side application which exposes certain REST APIs and saves application specific metadata in a mongo database. It's a POC for a financial application that's being built as part of a startup that's still in the brainstorming stage.
2. It's not very big. I just started worki

[2020-04-29 20:17] dieppa commented on #290
Thanks, for the information @juja0. So knowing that, I would try to provide an alpha version for you as soon as we can. It's good for us to have someone testing it too.

If you can provide your email, so I can keep you updated, would be good.

[2020-04-29 20:38] murdos commented on #290
Hi @dieppa

I'm currently working on upgrading JHipster for the upcoming Spring Boot 2.3, which means also updating Spring Data MongoDB to 3.0 and using the MongoDB Java Driver 4.x.
We're currently using mongobee, but since it's not maintained, I'm investigating moving to mongock.
So I would also be interested by an alpha or beta version.

[2020-04-29 20:44] juja0 commented on #290
Thanks @dieppa . I'm not sure how to send you a private message. Would it be ok if I sent my email ID over to the dev distro at cloudyrock.io ?

[2020-04-29 21:04] dieppa commented on #290
@juja0 , sure, send it to dev@cloudyrock.io

Also it would be great if you can fill this [survey](https://forms.gle/uk9jmtKvxJzi5Bda7), which takes just one minute and helps us a lot.

[Mongock V4.0 roadmap](https://github.com/cloudyrock/mongock/blob/v3/README.md#version-40)
Thanks

[2020-04-29 21:10] dieppa commented on #290
@murdos , that's great. Not only Mongobee is not maintained since a long while now, it misses a lot features, some of them pretty basic for a comercial application.

Anyway, happy to keep you in the list. Please send me your email id to dev@cloudyrock.io and we'll keep you updated too.

Just one thing, I might be missing something, but as long as I am aware version 2.2.7.RELEASE is the latest spri

[2020-04-29 21:17] murdos commented on #290
I will do it, thanks.

I'm working with 3.0.0.RC2, anticipating the upcoming release (in one or two weeks).

[2020-04-29 21:34] juja0 commented on #290
Done and done.

Thanks.

[2020-05-07 08:49] marchrius opened #289 "Missig setLockCollectionName in MongockBuilder (event SpringBoot version)"
In the MongockBuilder and in SpringBootMongockBuilder there is no `setLockCollectionName` setter. In the README.md the setter is shown as usable but it does not exists.

Is the error related to missing method or to not updated README ?

[2020-05-07 09:01] dieppa commented on #291
well, I assume this is fixed for you too  @sshcherbakov.

Please let me know if there is anything else I can do. Cheers

[2020-05-07 09:01] #291 closed

[2020-05-07 09:06] dieppa commented on #289
Hello @marchrius , what version are you using? It should be re-enabled since version 3.2.5.

Please, can you confirm?

[2020-05-07 09:12] marchrius commented on #289
Hello @dieppa , you are right. I confirm that upgrading to 3.2.5 the method returned! Thank you and sorry for mistake! :)

[2020-05-07 09:12] #289 closed, assigned to nobody

[2020-05-10 09:15] dieppa opened #288 "v4.0 - No execute again old changeLogs from older Mongock version with no sate"

[2020-05-10 09:18] dieppa opened #287 "Documentation versión 4.0.x"
- spring context now mandatory
- new building approach
- annotations
- Spring compatibility version table
- "defaultLock" instead "setQuickLockConfig" in builder
- wiki
- git pages

[2020-05-10 09:18] dieppa opened #286 "Refactor Mongock 3 to use changock too"

[2020-05-10 09:42] dieppa opened #285 "Create samples module in version 4"

[2020-05-10 16:50] dieppa commented on #285
done in branch v4

[2020-05-10 16:50] #285 closed

[2020-05-10 16:51] dieppa commented on #290
provided alpha versions. Anything, please create a new issue

[2020-05-10 16:51] #290 closed

[2020-05-10 16:53] dieppa opened #284 "throwExceptionIfCannotObtainLock true by default"

[2020-05-10 17:20] dieppa opened #283 "v4 - Changock annotations are not processed"

[2020-05-18 16:02] charlesritchea opened #282 "mongock-samples 404"
The mongock-samples project is either hidden or deleted

[2020-05-18 16:07] dieppa commented on #282
Hello, you are right. It has been deleted. We are updating the readme and creating a new sam ple project.

What can we help you with?

[2020-05-18 19:03] charlesritchea opened #281 "Mongock repeatedly tries to acquire lock at startup for some reason flooding logs"
I'm using latest stable vesion 3.2.8
Here is my setup:

[code]
This is what my logs look like:
[code]

[2020-05-18 19:04] charlesritchea commented on #282
@dieppa I think I've figured it out, just filing issues as I go

[2020-05-18 19:41] dieppa commented on #281
Hello @charlesritchea ,

yes, that's is because you are using MongoTemplate in your changeSets. That's normal because we haven't updated the readme. Sorry for this, but we have been working heavily on the next version 4, but we'll update it.

Anyway, **the solution is that you need to replace your MongoTemplate parameter in your changeSets by MongockTemplate**. It's exactly the same API, so you wo

[2020-05-18 19:44] dieppa commented on #282
Cool, any help, just let us know ;)

[2020-05-18 20:10] charlesritchea commented on #281
@dieppa thanks again, greatly appreciate your responsiveness

[2020-05-18 20:15] #281 closed

[2020-05-19 06:26] #282 closed

[2020-05-19 21:21] megasqrt opened #280 "mongock sample are gone"
https://github.com/cloudyrock/mongock-samples github 404 :(

[2020-05-19 21:49] dieppa commented on #280
Hello, @megasqrt

yes, you're right. The project wasn't up to date and therefore misleading users. We will be uploading them in these days, probably tomorrow.

Meanwhile, is there anything we can help you with?

[2020-05-19 22:06] megasqrt commented on #280
thanks, im found sample in branch v4_sample_spring_5_springdata_3

[2020-05-19 22:06] #280 closed

[2020-05-19 22:08] dieppa commented on #280
take into account that uses version 4.0.x.alpha, which is available and I'd say pretty stable, but it's still an alpha, so I'd recommend it if you are going to production in the next few weeks.

[2020-05-22 08:34] pkubowicz opened #279 "Mongock 4 ALPHA breaks compatibility with mongobee"
I can switch from using mongobee to Mongock 3 and then to Mongock 4 but I cannot directly switch from mongobee to Mongock 4 because my migrations will be applied again.

Also, I can switch from Mongock 4 to Mongock 3 and from Mongock 4 to mongobee, but not from Mongock 4 to Mongock 3 and then to mongobee.

See a working example in https://github.com/pkubowicz/mongock4

[2020-05-22 08:58] dieppa commented on #279
Hello @pkubowicz ,

You are right, we have this in our RoadMap.
**Are you in in production, about to promote to it or it's urgent for some other reason? So we can prioritise and we could realise a new alpha version with this in it.**

Sorry, but we don't guarantee migration to Mongobee. Anyway, once moved to Mongock 4, why would you want to migrate back to Mongobee? I am curious

[2020-05-22 09:38] pkubowicz commented on #279
It's not urgent. I'm still using mongobee and evaluating if it's safe for me to switch. In the long run I want to be able to use Spring Boot 2.3 which neither mongobee nor Mongock 3 allow.

What would be important for me is
- assuring that migrating between Mongock 3 and Mongock 4 (stable release) will be possible in both directions
- documenting whether migration directly from mongobee to Mongock

[2020-05-22 10:08] dieppa commented on #279
Hello @pkubowicz ,

Assuming you mean the migration data, not the code itself...
- **from Mongock 3 to Mongock 4 > It will be done**, probably next week.
- **from Mongock 4 to Mongock 3 > In this case will be done too,** but you should keep in mind that this is normally not provided. For example, Spring could provide backward compatibility  for previous version(not even that, as they normally intr

[2020-05-22 10:10] dieppa commented on #279
Can I ask what type of project you are developing?

thanks

[2020-05-22 11:24] pkubowicz commented on #279
Being able to revert code to a previous version and run the old code on a database touched by the new code is very important - it gives you more safety when deploying to production, because if there is a bug, you simply roll back the deployment.

I agree you don't have to allow going back from Mongock 4 to mongobee as these are 2 'leaps'. Documenting that this is simply not possible is fine. Howev

[2020-05-22 11:50] dieppa commented on #279
I understand what you are saying.

- Migration from Mongock 3 to Mongock 4
- Migration from Mongobee to Mongock 4
- Migration from MongoBee to Mongock 3(like it is currently, won't bee improved, unless something really wrong)

It will required an easy manual step, which will be provided in the documentation, but will still be guaranteed

We won't make any effort in this direction

________________

[2020-05-28 15:40] janweinschenker opened #278 "v3.3.2 and v4.0.x - Question: Possible to create collections mongockChangeLog and mongockLock without indexes?"
Mongock creates these two collections with indexes ("executionId_1_author_1_changeId_1" and "key_1").

Is it possible to disable the automatic creation of these indexes, e.g. with a configuration property "create-mongock-indexes: false"?

Background to this question:

We are working on a MongoDB server where indexes must be created by other means than by the applications themselves.

[2020-06-03 11:17] marceloeliseu-fl opened #277 "mongock-spring-v5 missing SpringMongock bean"
I tried to use mongock-spring-v5 from maven, but it's missing the SpringMongock bean class.

[2020-06-03 11:23] dieppa commented on #277
Hello @marceloeliseufountainledge,

Sorry as the 4.x is still in alpha, we haven't been able to provide the official documentation. We are working on it.

In the new 4.x version ,there is no SpringMongock or SpringBootMongock classes. They have been renamed to MongockApplicationRunner and MongockInitializingBeanRunner.

Notice that you don't even care. Just providing `@EnableMongock` annotation to

[2020-06-03 12:17] marceloeliseu-fl commented on #277
Thanks @dieppa !
Now the application finished the start after I added mongodb-springdata-v3-driver.
I'm using mongo Atlas MongoDB 4.2 on cloud,  is it supported (mongo v4 driver) ?

Also I updated the properties and now is executing fine !
  mongock:
    change-logs-scan-package: com.mypackage.api.changelogs

tks !

[2020-06-03 13:34] dieppa commented on #277
Thanks for the feedback and glad it works fine!

Just one thing: is it supported (mongo v4 driver) ? -> Is it a question? It should be fine , di you have any issue with driver Sync 4?

[2020-06-03 14:07] marceloeliseu-fl commented on #277
No issue so far, it's working  using mongodb-driver-sync-4.0.3 as part of spring-boot-starter-data-mongodb.

Yes, it is a question, because I had to included this dependency:

		<dependency>
		    <groupId>com.github.cloudyrock.mongock</groupId>
		    <artifactId>mongodb-springdata-v3-driver</artifactId>
		    <version>4.0.6.alpha</version>
		</dependency>

[2020-06-03 14:17] dieppa commented on #277
Yeah, as per the example, you need to add to your pom:

1. Dependency management bom

[code]

2. Mongock runner

[code]

3. Mongock Driver

[code]

Springdata 3 driver uses mongodb sync 4 driver and Spring-data v3, however it assumes you will be providing those dependencies, so they are excluded to avoid transitive dependency issues.

Next release version will import those libraries with scope `pr

[2020-06-03 14:35] marceloeliseu-fl commented on #277
ok, great! tks a lot !

[2020-06-04 08:45] mkulle opened #276 "Spring Boot Mongo Template setup"
Hi,
I'm using SpringBoot 2.2.2. I found MongoCK 3.0.3.BETA available only.
I'm trying to switch from MongoBee.
During the test I tried following scenario:
`    @ChangeSet(order = "001", id = "V1.0_00__insert_some_seq", author = "me")
    public void insertSomeSeq(MongoTemplate template)
    {
        Seq seq = new Seq();
        seq.setName("some");
        seq.setLastNo(0L);
        template.inse

[2020-06-04 08:59] dieppa commented on #276
Hello @mkulle,

you should use version 3.3.2 and use **MongockTemplate** instead MongoTemplate, you should use MongockTemplate. It's exactly the same API(it's just a wrapper/decorator), so you won't miss anything.

**Please try this and let me know how it goes :)**

On the other hand, we are working on version 4, for which we made some released already. Actually we are working on Mongobee migratio

[2020-06-04 11:11] #277 closed, assigned to nobody

[2020-06-04 11:12] dieppa commented on #278
provided in version 4.0.7.alpha

[2020-06-04 11:12] #278 closed

[2020-06-04 11:12] dieppa commented on #283
in 4.0.7.alpha

[2020-06-04 11:12] #283 closed, assigned to nobody

[2020-06-04 11:13] dieppa commented on #286
won't be done

[2020-06-04 11:13] #286 closed

[2020-06-04 11:13] dieppa commented on #284
4.0.7.alpha

[2020-06-04 11:13] #284 closed

[2020-06-04 11:13] dieppa commented on #288
4.0.7.alpha

[2020-06-04 11:13] #288 closed

[2020-06-04 11:30] mkulle commented on #276
Thanks for your quick response. I'll give it a shot. However, I've pushed away from this conversion now. I'll let you know as soon as I get back. Thank you.

[2020-06-09 22:17] dieppa commented on #276
Hello @mkulle ,
did it work?

[2020-06-09 22:18] #287 closed

[2020-06-09 22:19] dieppa commented on #279
Hello @pkubowicz , just to keep you updated, we'll have a release with this included by Friday

[2020-06-11 13:44] arpit038 opened #275 "Caused by: java.lang.NoClassDefFoundError: org/springframework/data/mongodb/core/index/IndexOperationsProvider"
Hi,
We have migrated our database from MongoDB 3.6 to 4.2. We were using mongobee in our spring boot (v1.5.9.RELEASE) app. Now mongobee is not supported with MongoDb 4.2 as defintion of accessing indexes has changed from db.system.indexes to db.system.getIndexes().

I came across this well known alternative, mongock.

Now I am migrating from mongobee to mongock and facing issue.

The maven build i

[2020-06-11 13:59] dieppa commented on #275
Hello @arpit038 ,

for MongoDB 4.x you need to use Mongock 4.0.8.alpha

There isn't official documentation yet, but you can see this [sample project](https://github.com/cloudyrock/mongock-integration-tests/tree/master/mongock-spring-v5/mongock-spring5-springdata3-it)

Please notice that although it should work(if you use the mongobee's changeLog collection name)in the next release will provide mig

[2020-06-11 14:26] arpit038 commented on #275
@dieppa Not able to resolve dependency when using mongock 4.0.8.alpha. Can you share the maven dependency?

[2020-06-11 14:39] dieppa commented on #275
If you see the sample I mentioned in the previous comment, you can see you need to import the bom with:

[code]

And both Mongock Dependencies, for runner and driver
[code]

[2020-06-11 15:18] arpit038 commented on #275
@dieppa
With the above dependencies,
I am not able to create the following bean now,
[code]
How to create the mongock bean?

[2020-06-11 15:31] dieppa commented on #275
The new approach is by using @EnableMongock in the SpringBootApplication.

Then everything is set in the properties file.Please see the sample project ;)

Anyway, you can still use the builder manually like you do in Mongock V3. However the bean is not SpringBootMongock any more. Now it's  called MongockApplicationRunner

[2020-06-11 15:34] dieppa commented on #275
Important. If you are planning to use MongoTemplate, please use MongockTemplate instead. It's exactly the same API, you won't miss anything.

Thanks

[2020-06-12 05:31] arpit038 commented on #275
@dieppa
Is there any constraint on using MongockTemplate?
Will it be okay if we continue with MongoTemplate?

[2020-06-12 07:54] arpit038 commented on #275
@dieppa
I am getting the following exception while running the app, even I have imported mongock driver as mentioned in sample project pom.xml

[code]

[2020-06-12 08:16] dieppa commented on #275
Hi @arpit038 ,

**Will it be okay if we continue with MongoTemplate?** - No, you cannot use MongoTemplate and there is no need for it. MongockTemplate is just a wrapper/decorator. There is nothing you can do with MongoTemaplate that you cannot do with MongockTemplate. I am obviously speaking about Mongock changeLogs. In your app, out of the ChangeLogs, you should use MongoTemplate as usual.

Regar

[2020-06-12 12:06] dieppa commented on #279
Hello @pkubowicz ,

there is a new release 4.0.8.alpha which provides migration from legacy changeLogs, such as Mongobee's. Please see this [sample project](https://github.com/cloudyrock/mongock-integration-tests/tree/master/mongock-spring-v5/mongock-spring5-springdata3-it)

The class `MongockLegayMigration` is the on in charge to package all the configuration(from properties file)

Also, to migra

[2020-06-12 13:11] #279 closed

[2020-06-12 13:11] #276 closed, assigned to nobody

[2020-06-14 08:41] dieppa commented on #275
Hi @arpit038 ,

please let us know how it went. Otherwise this issue will be closed in the next 24-48 hours

[2020-06-17 09:41] #275 closed

[2020-06-17 19:21] jgsmarques opened #274 "How to configure a bean for mongock?"
Hi,

I'm new to Mongock (even though I've used Mongobee in the past). I'm using the 4.0.8.alpha version. However, I have a question about how to setup the Bean when integrating the app with Spring.

In the README, you have the following code:
[code]

However, I've added the `mongock-spring-v5` dependency to my project, and that class does not exist for me. Do I have to import anything else? Did th

[2020-06-17 19:41] dieppa commented on #274
Hello @tigermarques,

so sorry, but we are working to have the  documentation for the version 4.X available as soon as possible. We expect to have some basic document for you to start at the end of the week.

Meanwhile, you should know that, although you can still use the builder(no that one exactly), we have provided a much better approach based on annotation. You basically need to annotate your

[2020-06-17 19:51] jgsmarques commented on #274
Thank you very much for your answer. It helps a lot.

Is there any way that I can control the actual bean created by Mongock?
My use case is quite simple. I need to change the structure of a collection, which involved changing an index. Therefore, I will create a changelog to do this. It will remove the old index, and transform the documents in the collection for the new structure.
However, I want

[2020-06-17 20:02] dieppa commented on #274
OK, if you need more control. You can remove the annotation @EnableMongock in your SpringBootApplication class and use the builder manually, like this:
[code]

Or this if you require a Spring InitializingBean instead of a Spring ApplicationRunner
[code]

I hope this works ;)

[2020-06-17 20:20] jgsmarques commented on #274
That works perfectly. Thank you very much!

[2020-06-17 20:20] #274 closed, assigned to nobody

[2020-06-22 00:39] nazeem-soeltan opened #273 "MongockTemplate bean in integration test?"
Hi!
We are migrating from MongoBee to Mongock 3.3.2.

Our DatabaseChangelog class with Changesets are making use of the MongockTemplate bean as prescribed. In one of our integration tests, when trying to Autowire a MongockTemplate bean we get the error:

**Could not autowire. No beans of 'MongockTemplate' type found.**

Do you know how we can solve this, so our DatabaseChangelogIT class containing

[2020-06-22 07:00] dieppa commented on #273
Hello @nazeemsoeltan,

I am missing something here. That changeSet method should be only processed by Mongock and that is not the error message Mongock would have been printed in case of finding a not-found parameter.

Anyway, we'll try to create a sample project for 3.3.2 to reflect how to use Mongock in integration tests. I think we can have it before tomorrow.

Cheers

[2020-06-22 07:03] dieppa commented on #273
Anyway, we recommend using version 4.4.x.alpha. We are promoting to RELEASE soon.

[2020-06-22 07:24] nazeem-soeltan commented on #273
Sorry,

I forgot to add this class example;

[code]

Example test:

[code]

[2020-06-22 08:05] dieppa commented on #273
Ok, I got the idea you're trying to do.

assuming that somehow you have taken the Mongock bean out from the Spring context, which we don't recommend, instead of calling the changeLog explicitly, you should be using the builder instead. Something like:

[code]

If, on the other hand, the Mongock bean is already in the Spring context, you will get some unexpected results, as your changeLog will be p

[2020-06-22 08:53] nazeem-soeltan commented on #273
@dieppa ,

Thanks for pointing out.
From your comments, it seems a good thing to wait for Mongock 4.x. As then we can inject MongockTemplate into the tests.

I was preparing a presentation & poc at the company to introduce Mongock this week.
However, I would rather wait when Mongock 4.x will be released. Is there some kind of estimation?

[2020-06-22 10:27] dieppa commented on #273
Our estimation is to have it released by 13th of July.

[2020-06-22 18:52] nazeem-soeltan commented on #273
Thanks.
Is the MongockTemplate bean injection in tests already possible in the 4.x alpha version. Or it will be soon  ?

[2020-06-22 19:35] dieppa commented on #273
Not yet, it will be soon. Cannot tell you exactly when, but next week.

[2020-06-23 13:26] dieppa commented on #273
Hi @nazeemsoeltan, I think it's better if you send me an email, so I can take your email and keep you updated.

Thanks

[2020-06-23 23:48] nazeem-soeltan commented on #273
Yes, I've send you the e-mail.

[2020-06-23 23:48] #273 closed, assigned to dieppa

[2020-06-30 08:54] webster91 opened #272 "Doesn't start migration task"
Good day.
The migration task does not start because the shell task has a higher order.

My deps

        <dependency>
            <groupId>org.springframework.shell</groupId>
            <artifactId>spring-shell-starter</artifactId>
            <version>2.0.1.RELEASE</version>
        </dependency>

and

        <dependency>
            <groupId>com.github.cloudyrock.mongock</groupId>

[2020-06-30 09:10] dieppa commented on #272
Hello @webster91,

do you get any error/warning message in your log? I don't  have enough information, but technically you shouldn't have any problem running more than one ApplicationRunner.

To be honest I haven't come up against this issue before. I'm wondering if this could be easily fixed by adding @Order to your SpringBootMongock bean

[2020-06-30 10:42] webster91 commented on #272
Errors do not occur. I tried to set a higher priority, did not work (

[2020-06-30 11:06] dieppa commented on #272
This seems an issue or misconfiguration related to Spring. I suggest to put a break point to ensure your Mongock bean is been setting up. And research about it, but "build" just return an ApplicationRunner, then it delegate to Spring the "running" task.

[2020-06-30 11:30] webster91 commented on #272
I checked the Mongock bean starts, but SpringBootMongock doesn't start.
ScriptShellApplicationRunner interrupts it with @Order (-100).
If I could extends from SpringBootMongock and set order or somehow overturn him order.

[2020-06-30 11:38] webster91 commented on #272
If I use SpringMongock everything works fine, but there is no way to inject dependencies

    public SpringMongock mongock2() {
        return new SpringMongockBuilder( mongoTemplate,  DatabaseChangelog.class.getPackage().getName())
                .setSpringEnvironment(springEnvironmen)
                .setLockQuickConfig()
                .build();
    }

[2020-06-30 11:50] dieppa commented on #272
If your issue is because you need to set the order, what does stop you from doing this?:

[code]

and then in your Spring context class, defining this bean:
[code]

[2020-06-30 19:05] webster91 commented on #272
Thank you so much. it works.

[2020-06-30 19:05] #272 closed

[2020-07-02 09:27] marchrius opened #271 "Broadcast an Event on every step"
At the moment we don't know when a migration starts/finishes and the access to the database is not locked by mongock, so an insertion at application startup can produce errors for not yet initialised collections (e.g. multi-document transaction exception)

Is there an event publisher or is planned to be?

Eg.

[code]

[2020-07-02 10:22] dieppa commented on #271
Hello @marchrius ,

I am glad you ask that because we have planned to add this feature. When I say "plan" I mean we have decided to add it, however there are some other priorities first and I cannot tell you when exactly this will be available, but after transactions, recovery, undo and some other, this is next, so my expectation is beginning of august.

Thanks

[2020-07-03 07:52] #271 closed

[2020-07-05 11:38] MatellioBharatGupta opened #270 "document does not contain key clustertime"
Getting this error, when i am trying to connect to Mongo Atlas. Please help.

[2020-07-05 13:10] dieppa commented on #270
Hello @MatellioBharatGupta ,

please can you provide a bit more information, such as:
- error stack trace
- Versions: Mongock, MongoDB, Spring
- How you are building Mongock runner
- If this is happening in a changeLog, the code of the changeLog(feel free to hide whatever you don't want to become public)

and anything it could be useful

I will try to have a look tomorrow

[2020-07-06 04:36] MatellioBharatGupta commented on #270
Hello @dieppa , thanks for your comment.

Versions:
Mongock : 3.2.4
MongoDB : Version 4.2.8(Atlas)
SpringBoot : 2.0.5.RELEAS

Building mongock :
  @Bean
    public SpringMongock springMongock(MongoTemplate mongoTemplate, Environment springEnvironment) {
        return new SpringMongockBuilder(mongoTemplate, "changeLogScanPackage")
            .setSpringEnvironment(springEnvironment)
            .s

[2020-07-06 07:03] dieppa commented on #270
Hello, I see a couple of things here, that not necessary are related to your issue, but it would be nice to discard first:

1) You say you're using MongoDB 4.x and [this doc](https://docs.atlas.mongodb.com/driver-connection/#java-driver-example) stands you should be using the driver version 3.8 or greater. However, I can see in your logs you're using 3.6.4

2) Is there any reason you are not using

[2020-07-06 11:34] MatellioBharatGupta commented on #270
Hello @dieppa ,
If i use below dependency
  <dependency>
            <groupId>org.mongodb</groupId>
            <artifactId>mongo-java-driver</artifactId>
            <version>3.8.2</version>
        </dependency>

then i got
java.lang.ClassNotFoundException: _org.springframework.data.mongodb.core.ExecutableMapReduceOperation$MapReduceWithMapFunction_

then i put below in pom

 <dependency>

[2020-07-06 11:51] dieppa commented on #270
Hello  @MatellioBharatGupta ,

I am not sure I understand what you did, but I understand your MongoDB version is 4.x, so you should be using Java driver >3.8. More information [here](https://docs.mongodb.com/drivers/java)

I also understand you are using Spring data 2.x. So for that you need to use Mongock driver **mongodb-springdata-v2-driver** which uses Mongo Java driver 3.x.

Please follow thi

[2020-07-09 14:06] joelroyer opened #269 "Application Context loading fail with Mongock 3.2.8 and Spring Boot 2.3.1.RELEASE"
I'm trying to upgrade my project to Spring Boot 2.3.1.RELEASE and Mongock 3.2.8.

When application start, I've got this error:
[code]
I've checked that the `MongoTemplate` class contains the method getMongoDbFactory() and it is ok.

Here is my bean mongock:
[code]

What's wrong ?

[2020-07-09 14:08] #269 closed

[2020-07-09 14:10] joelroyer commented on #269
In Spring Data Mongodb 3.0.1, the getMongoDbFactory() returns new object `MongoDatabaseFactory`.

[2020-07-09 14:31] dieppa commented on #269
Hello @joelroyer ,

if you want to use Spring data 3, you should be using Mongock 4.X. It's still in beta, but it's stable. Although we haven't still released official documentation, please follow [this issue](https://github.com/cloudyrock/mongock/issues/195)
, which explains how to use it

[2020-07-10 09:35] mmichalko commented on #270
I had the same issue, fixed it by upgrading spring boot version from 2.0.1 to 2.2.7 (which upgraded the mongo driver to 3.11) and upgrading mongock from 2.0.2 to 3.3.2.

[2020-07-12 03:55] mh-mbhojane opened #268 "Support migration of multiple database instances on Spring Boot app startup"
How does the Mongock runner retrieve the database URI and database name? Does it reads spring boot application properties?

Is there an API on in SpringBootMongockBuilder to set the database URI and database name? For now I am using this:

@Bean
public SpringBootMongock mongock(MongoTemplate mongoTemplate, ApplicationContext springContext) {
        return new SpringBootMongockBuilder(mongoTemplat

[2020-07-12 13:15] dieppa commented on #268
Mongock relies on MongoTemplate, and assumes everything is set up.

I don't fully understand when you say "In my production app, I will never know the URI before starting the app", I guess after boostrapping you retrieve the configuration from somewhere else. I probably miss something, but it seems a bit bizarre. Anyway, in that case, you shouldn't be providing Mongock as bean at bootstrap time ne

[2020-07-12 15:09] mh-mbhojane commented on #268
First, thanks for a quick response.

We will be deploying the app in cloud and will be used by multiple customers but each customer database will be a different instance. So we will be retrieving the database URIs from a centralized database. And so we will need to pass in list of database URIs for migration.

I would like to know what object can we use mongock to run manually? Class com.github.cl

[2020-07-14 12:10] savvadem opened #267 "Mongock with writeConcern=0;"
Hello.

We met next problem on our load testing.
We tried to set writeConcern=0 in uri connection string, to check perfomance of our app, but could not start it, because mongock failed to start our app.

[code]

Looks like you should set writeConcern explicitly, or its just I shouldn't use w=0?

[2020-07-14 12:34] dieppa commented on #267
Hello @savvadem ,

I would explain you the technical reasons behind, but you are probably not interested. So in summary, Mongock requires write concern to manage the lock.

We will be providing some new test features as part of version 4.x. One of them will allow to disable the lock in tests. Although currently version 4.1.2.BETA is out(RC probably next week), this lock-disabling feature is not pr

[2020-07-14 12:58] savvadem commented on #267
Yes, i mean that you could set writeConcern(WriteConcern#ACKNOWLEDGED) explicitly for your particular operation (checking the lock), ignoring the one specified by user in connection string. Or it's a bad practice?

[2020-07-14 17:48] dieppa commented on #267
Yes, if you specify the write concern in the operation, it overrides the one set in the URI.
Doesn't seem to be a bad practice.

I'll let you know by tomorrow when this could be fixed. As you probably understand, as you are the only one facing this and the environment affected is testing, it is not that priority. However, we expect to have it done in the next days.

Thanks

[2020-07-14 17:54] savvadem commented on #267
No problem, just posted FYI, that with w=0 in connection string it wont work.

Thanks for reply.

[2020-07-15 07:21] ghost opened #266 "An attempt was made to call a method that does not exist com.github.cloudyrock.mongock.SpringMongockBuilderBase.lambda$getMongoTemplateProxySupplier"
An attempt was made to call a method that does not exist. The attempt was made from the following location:

[code]

Dependencies

[code]

[2020-07-15 08:29] mvcaraiman opened #265 "Need help with mongock-spring-5"
I'm trying to use Mongock Spring5 version 4.1.2.BETA and I'm not able to find a way to create an instance of MongockSpring5.
The link on the main page "Last news" section "this example" gives an 404. Can anyone  help me with this ?

[2020-07-15 08:59] #270 closed, assigned to nobody

[2020-07-15 09:10] dieppa commented on #265
Sorry, we haven't released the official documentation for version 4.x. We expect to have it ready next week. Meanwhile, take a look to [this issue](https://github.com/cloudyrock/mongock/issues/195).

Let me know how it goes. Thanks

[2020-07-15 09:35] dieppa commented on #265
although this [sample project](https://github.com/cloudyrock/mongock-integration-tests/tree/master/mongock-4/mongock-spring-v5/mongock-spring5-springdata3-it)

[2020-07-15 10:17] dieppa commented on #265
Please let me know how it goes, otherwise I will close this issue in 24 hours ;)

[2020-07-15 11:09] ghost commented on #274
Hi

Can you please post the code for Standalone without spring boot application

[2020-07-15 11:20] dieppa commented on #274
Hello @anandjaisy, please follow these steps:

1) you need to  remove the mongock-spring-v5 dependency from your pom and add:
[code]

2) Then use the Mongock Driver you required(for Java MongoDB driver version 3 or 4):
[code]

3) Import your Java MongoDB driver:

[code]

4) Build Mongock with builder approach
[code]

[2020-07-15 11:37] ghost commented on #274
For the changeset how we are making the dependency for MongockTemplate ?

[2020-07-15 11:55] dieppa commented on #274
MongockTemplate is just a wrapper for MongoTemplate, so if you are not using Spring Data, you cannot use MongockTemplate. You need to stick to what Java MongoDB driver offers ;)

[2020-07-15 12:30] ghost commented on #274
I have something like this?

[code]

**And Changeset**

[code]
Dependencies

[code]

The changeset is not executed, can you please help me with this.

[2020-07-15 12:55] dieppa commented on #274
As said in my previous comment, you cannot use MongoTemplate unless you use Spring Data, which I don't think you are.

If you wanted to use SpringData, you should be using  **mongodb-springdata-v3-driver** or **mongodb-springdata-v2-driver** instead of the **mongodb-sync-v4-driver**

**Notice, in any case you should be using MongockTemplate, not MongoTemplate**.

You changeSet should be something

[2020-07-15 13:28] ghost commented on #274
Thank you. It worked

[2020-07-15 14:10] ghost commented on #274
One more question, How do you pass MongoTemplate  or MongockTemplate in the MongockStandalone.builder() if I will use SpringData using mongodb-springdata-v3-driver

[2020-07-15 16:22] mvcaraiman commented on #265
Hi @dieppa ,
 thank for your quick answer. I saw the code sample is for SpringBoot projects and it returns an MongockInitializingBeanRunner or an MongockApplicationRunner  , how do I get the equivalent of  SpringMongockBuilder for a Spring , non-SpringBoot project ?

[2020-07-15 16:56] dieppa commented on #266
@anandjaisy  is this issue still on going?

[2020-07-15 16:59] dieppa commented on #265
Hello @mvcaraiman ,

please see [this issue](https://github.com/cloudyrock/mongock/issues/195#issuecomment-658710963). I explain how to the MongockStandalone runner works ;)

[2020-07-15 17:02] dieppa commented on #265
@mvcaraiman please notice that as you're not using Spring data, you are not able to use MongoTemplate. It's explained there too

[2020-07-16 02:42] #266 closed

[2020-07-16 08:11] dieppa commented on #265
Please let me know if this is fixed.

Thanks

[2020-07-16 08:11] dieppa commented on #267
**added to roadmap**

[2020-07-16 08:11] #267 closed

[2020-07-16 08:15] dieppa commented on #268
sorry, for some reasons I didn't see this.

The main issue or concern is "how are you creating the connection?". I mean, do you create a MongoTemplate for each database? Do you Create a mongoClient for each and connect directly to the client's database?...

Depend on that you could be using MongockSpring or MongockStandalone, but I need a bit more technical information.

Cheers

[2020-07-16 11:19] mvcaraiman commented on #265
Hi, @dieppa,
 My setup is this : I use Spring Data, but not with Spring Boot and  I have a bean of  type org.springframework.data.mongodb.core.MongoTemplate.  Finally I was able to make it work with this :
1. I used mongodb-v3-driver + mongock-standalone  4.1.2.BETA
2. code :
MongockStandalone.builder().setDriver(MongoCore3Driver.withDefaultLock(mongoTemplate.getDb()))
                .addChangeLo

[2020-07-16 11:36] dieppa commented on #265
Hi @mvcaraiman ,

that error it's because mongodb-springdata-v3-driver, uses `org.springframework.data:spring-data-mongodb:3.XX`, which underneath uses `org.mongodb:mongodb-driver-sync:4.02` (brought it by the transitive mongock dependency `com.github.cloudyrock.mongock:mongodb-sync-v4-driver`, but it seems you are using, directly or underectly, MongoDB Java Driver 3.x.

### SOLUTION

In summary,

[2020-07-16 12:22] namannigam-zz opened #264 "Support for module path in Java module system"
Referring to the Q&A on StackOverflow - [How to fix the issue with Java 9 Modularity after adding a dependency on `mongock`?](https://stackoverflow.com/questions/62933733)

Seems like the upgraded versions in the `4.x.x` somehow manage to get away with this using different dependency and improved package structures. But is there a plan around explicitly introducing `Automatic-Module-Name` under th

[2020-07-16 13:59] mh-mbhojane commented on #268
Hi,

Currently we are in POC phase. But yes we will need to create MongoTemplate for each database instance. I did a small test as below and was able to execute migration across multiple database instances. For now I have the URI list as hardcoded but we may have to build/retrieve this list somehow. Do you see an issue with this approach?

@Configuration
public class MigrationRunner {

@Value("${s

[2020-07-16 15:32] jfenuk opened #263 "How to import Mongock 4 properly to Spring Boot Application?"
I am trying to integrate Mongock 4 with my Spring Boot application (2.2.8.RELEASE)
What I did:
- added mongock-bom

[code]

- added

[code]

- property file updated:
[code]

- @EnableMongock added:
[code]

- ChangeLog file with ChangeSet added:

[code]

When I tried to run the application via `mvn spring-boot:run` I got the following error:
[code]

- when I changed `pom.xml`
[code]
I got a new err

[2020-07-16 16:09] dieppa commented on #263
Hi @jfenuk ,

first sorry because we haven't released official documentation yet. We'll try to have it available next week as we're having a lot of users asking the same question.

Meanwhile, please see these resources:

- [issue answering this](https://github.com/cloudyrock/mongock/issues/203)
- [sample project](https://github.com/cloudyrock/mongock-integration-tests/tree/master/mongock-4/mongock

[2020-07-16 16:14] dieppa commented on #263
Take into account that, if you are using spring data 3(mongoDB java driver 4) you need to import mongock spring 3 driver.
On the other hand, if you are using spring data 2(mongoDB java driver 3) you need to import mongock spring 2 driver.

In both cases, and I think this is the reason of your issue, you need to import required transitive dependencies(Java MongoDb driver and MongoDB spring data)

[2020-07-16 19:59] jfenuk opened #262 "MongockCoreContextSelector - invalid condition?"
I've just briefly reviewed source code and in my opinion, found  an issue in `MongockCoreContextSelector`:

[code]
believe, that the right class name is `com.github.cloudyrock.mongock.driver.mongodb.springdata.v2.SpringDataMongo2Driver` not `com.github.cloudyrock.mongock.driver.mongodb.springdata.v2.SpringDataMongo3Driver`.

Could you please take a look?

[2020-07-16 20:09] dieppa commented on #262
Yes, you are right. Tests didn't spot that because integration tests for the spring configuration are only for Spring data v3 for now. Will be adding full coverage for this too.

Anyway, it will be fixed tomorrow morning(UK time)

Thanks

[2020-07-17 10:54] jfenuk commented on #262
@dieppa , any updates?

[2020-07-17 11:27] dieppa commented on #262
@jfenuk , sorry, we have a crazy morning. We'll be releasing a bugfix during the day. If you prefer, as it's pretty easy, feel free to create a PR yourself, we can perform our tests and checks and validate it

[2020-07-17 19:25] dieppa commented on #262
version 4.1.3.BETA released with bug fixed

[2020-07-17 19:26] #262 closed

[2020-07-20 06:50] dieppa commented on #263
Is this resolved?

[2020-07-20 06:53] dieppa commented on #264
Hello @namannigam ,

we have plans to make some adjustment to adapt to new versions of Java, but we have some other priorities first. This might be coming after transactions and some other cool features we are working on.

Thanks

[2020-07-20 06:53] #264 closed

[2020-07-20 06:54] dieppa commented on #265
has this been resolved?

[2020-07-20 06:59] dieppa commented on #268
Sorry for the delay. Is that failing right now?

Anyway, as you are not really using any Spring feature for Mongock, I would recommend to use the standAlone version. Please see the readme:
- [explanation](https://github.com/cloudyrock/mongock#when-use-mongock-standalone)
- [how to use it](https://github.com/cloudyrock/mongock#build-and-run-standalone)

[2020-07-20 10:57] joelroyer opened #261 "NoClassDefFoundError: javassist/bytecode/ClassFile"
I'm trying to run changelogs but I've got this error:
[code]

Using those dependencies:
- Spring Boot 2.3.1 in reactive mode with Netty Server
- Mongock 4.1.4.BETA

The POM :
[code]

The property is set in application.yaml :
[code]

@EnableMongock added on the main class and the changelog class is:
[code]

[2020-07-20 11:20] dieppa commented on #261
Hello @joelroyer ,

first, we haven't provided reactive support yet for Mongock. Take into account that you cannot use MongoTemplate directly in your ChangeSet methods, you must use MongockTemplate. So in order to support Mongo reactive with spring, we would need to provide MongockReactiveTemplate.

Said that, I see that you are using non-reactive approach by using MongoTemplate. We haven't tested

[2020-07-20 11:28] joelroyer commented on #261
Thanks for your response. Indeed, we use a non-reactive approach.

I've tried with MongockTemplate in place of MongoTemplate but error still occurs.

We have the same code on another service, and it works well.

[2020-07-20 11:44] dieppa commented on #261
Well, keep using MongockTemplate.

Very weird. As said, that class is brought by |Reflections" library. can you provide the dependency tree by executing `mvn dependency:tree`

You can send it to me by [email](mailto://antonio@cloudyrock.io) if you prefer.

[2020-07-20 11:55] joelroyer commented on #261
`mvn dependency:tree` done and found a mistake on third-party dependency.
You can close this issue.

[2020-07-20 11:55] #261 closed

[2020-07-20 11:58] dieppa commented on #261
glad you found it, @joelroyer.

Can you tell me what the issue was, so I can address it faster next time? :)

[2020-07-20 12:05] joelroyer commented on #261
We use Powermock for some tests and the developer who set it up followed this ticket:
https://stackoverflow.com/questions/31189086/powermock-and-java-8-issue-interfacemethodrefinfo-cannot-be-cast-to-methodrefin

In this ticket, you can see that javassist is excluded from powermock junit4 module dependencies and added manually in another version with scope "test".

But the developer didn't see the

[2020-07-20 12:06] dieppa commented on #261
great, thanks!

[2020-07-20 12:12] jfenuk commented on #263
@dieppa , yes, thank you.

[2020-07-20 12:12] #263 closed, assigned to nobody

[2020-07-21 12:21] jfenuk opened #260 "How to rollback already applied changeset?"
Hi guys,

Could you please advise what is the preferable way to rollback applied changes by some Changeset?
Flyway/Liquibase provide out of the box undo migration mechanism, but what about MongoDB world and Mongock?

[2020-07-21 12:34] dieppa commented on #260
Hi @jfenuk , glad you ask that.

Although Mongock doesn't provide anything just now, we are working on several mechanisms:
- **Transactions**: For MongoDB 4.0 and higher. We'll start providing all-or-nothing for the entire migration. But the plan is to provide two more levels: per changeSet and changeLog. The last one is the recommended way.
**We are finishing this feature, in test phase and will

[2020-07-21 14:19] aggo commented on #290
Hi, what version of this lib should I use that works with java driver v4.0?

[2020-07-21 14:35] dieppa commented on #290
Hello @aggo ,

take a look to this [documentation](https://www.mongock.io/quick-start), which is still under development. But I think it will resolve your questions.

Please let me know any question or suggestion you might have.

[2020-07-21 15:29] aggo commented on #290
Thank you @dieppa for the fast answer :) our problem was that we didn't manage to run our tests anymore, relevant error being:

[code]
I included the libs as described in the documentation you suggested and removed an extra dependency to mongodb-java-driver that we had and now things work as expected.
Kudos for the good job with the lib! ^^

[2020-07-21 15:31] aggo commented on #290
@dieppa Please let me know at amaliagoia@gmail.com when a new release of the lib is ready, if you have time. Thank you once again!

[2020-07-22 13:15] mvcaraiman commented on #265
Yes, it was solved using mongodb-sync-v4-driver + MongoSync4Driver
Thank you for your support

[2020-07-22 13:15] #265 closed, assigned to nobody

[2020-07-22 22:08] mjustin opened #259 "Bad link for 4.x example"
The link to the 4.x example is broken in the [README.md](https://github.com/cloudyrock/mongock/blob/master/README.md):

It looks like it should be linking to:
* https://github.com/cloudyrock/mongock-integration-tests/tree/master/mongock-4/mongock-spring-v5/mongock-spring5-springdata3-it

but it is actually linking to:

* https://github.com/cloudyrock/mongock-integration-tests/tree/master/mongock-s

[2020-07-23 04:22] abhishekshah2905 opened #258 "Mongock reexecutes ChangeSet after upgrading Mongock on Spring boot"
- Spring-Boot version: 2.3.1.RELEASE
- Mongo db version: 4.2.3
- Old Mongock version: 3.2.3
- New Mongock Version: 4.0.0.alpha

Earlier, I was using the old mongo version where most of the ChangeSets are already migrated. Now, I upgraded the mongock version to user the latest Spring and Mongo Sync driver. However, It looks like already migrated ChangeSets are again executing and throwing below exc

[2020-07-23 09:22] dieppa commented on #258
Hello, I don't think Mongock reexecutes your changeSets again. However it processes(and track) them every time. This means that  in every Mongock's execution, it iterates over all the changeSets and check if they have been executed or not. If they have been already executed, in version 4.0.0.alpha, the one you're using, it will try to track that changeSet was processed, but not executed(IGNORED).

[2020-07-23 09:23] dieppa commented on #259
thanks. We'll be updating the entire README with the new documentation, but meanwhile it's there, it should be right.

We'll make it right, thanks

[2020-07-23 12:25] abhishekshah2905 commented on #258
@dieppa

Thanks for the quick response.

Actually, I debug the implementation and concluded that It is actually re-executing the change sets again because as I saw in library, The find object query implementation is updated and following to search the object including the `state`. In earlier implementation, there was nothing like `state` fields included.

Is this version of library released on mav

[2020-07-23 13:19] dieppa commented on #258
Yes, it's in maven. Please check the "quick start" section in the documentation I provided earlier ;)

[2020-07-23 13:24] abhishekshah2905 commented on #258
@dieppa

Thanks. I'll go over with it and keep you posted here for the same which you requested. Thanks

[2020-07-23 15:24] abhishekshah2905 commented on #258
@dieppa

It is working as expected after using the **4.1.5.BETA** version of library

[2020-07-23 15:24] #258 closed

[2020-07-24 15:27] #259 closed

[2020-07-24 15:27] #260 closed

[2020-07-27 17:27] mjustin opened #257 "Document this project's relationship to and/or migrateability from mongobee"
When looking for options to upgrade [mongobee](https://github.com/mongobee/mongobee) (more specifically, the [MongobeeJ](https://github.com/cybuch/mongobeeJ) fork) to something that supports the latest Spring Boot/Mongo Java 4 drivers, I didn't look too closely at Mongock at first.  It wasn't immediately clear that it was a fork of the original Mongobee, and thus actually very closely related in b

[2020-07-27 17:45] dieppa commented on #257
Thanks @mjustin, I think you are totally right. The natural path  for Mongobee users to be upgraded is Mongock. If we don't make it clear, they don't have an easy way to know it.

Will do that.

[2020-07-27 18:28] mjustin commented on #257
Just noticed that 4.1.8 [split out the project documentation](https://www.mongock.io), so I guess this would live in either/both of the project [readme](https://github.com/cloudyrock/mongock/blob/master/README.md) and/or the project documentation.

Incidentally, what I've done to migrate is to point Mongock at my previous Mongobee collection/package.  I also deleted the mongobee lock collection, s

[2020-07-27 18:44] dieppa commented on #257
Hello @mjustin,

actually it's not the recommended way, but we haven't documented it, although the section is ready [legacy migration](https://www.mongock.io/legacy-migration).

We'd like to have this part of the documentation ready this week, if my expectations are right, tomorrow. If you can wait, it would be great.
Otherwise, this is an example of configuration that should work:
[code]

This sh

[2020-07-27 18:49] mjustin commented on #257
Thanks!

And as for the `enabled` field, this is actually a modified version of my changes.  We actually have migrations disabled by default, and only enable it based on certain Spring profiles.  I just didn't remove it from my sample config I shared here. :-)

[2020-07-27 19:16] dieppa commented on #257
Also if you come up with any relevant feature you think we should add, we're always open to suggestions ;)

[2020-07-27 19:16] #257 closed

[2020-07-27 21:24] mjustin opened #256 "Mongock should not create changeLog and lock collection when enabled = false"
I was testing the 4.1.8 version of Mongock in Spring Boot, and I discovered that the Mongock collections were created (though empty) even when `spring.mongock.enabled` is `false`.  This is actually just fine for my use case, but it did surprise me.  Is it intended that the `mongockChangeLog` & `mongockLock` collections be created even when the functionality is disabled?

[code]

### application.ym

[2020-07-27 21:59] dieppa commented on #256
Actually no, that's a bug. mistakenly we didn't paid much attention to when Mongock is disabled.

Thanks

[2020-07-27 22:06] mjustin opened #255 "Why is a subclass of ChangeEntry used for non-legacy migrations?"
Very, very minor thing I noticed when testing the 4.1.8 version of Mongock in Spring Boot with Spring Data Mongo 3.  Since this is using `MongoTemplate` to save the `ChangeEntry`, a "_class" property is added by default by Spring Data to all documents stored.  I noticed that the legacy migrations inserted a direct instance of `ChangeEntry`, but the regular migrations inserted an anonymous subclass

[2020-07-27 23:14] mjustin opened #254 "Prefix the Spring Boot properties with something other than "spring."?"
Given that Mongock isn't an official project by the Spring Framework, does it make sense for the Spring Boot application properties to be prefixed with `spring.`, e.g. `spring.mongock.change-logs-scan-package`?  Or would it make more sense for them to have their own top-level namespace, e.g. just `mongock.change-logs-scan-package`?

[2020-07-28 08:41] dieppa commented on #254
This was designed that way because we had some early discussion with Spring team about integrating Mongock. So we decided to that to make it look more Spring friendly. But although we are still moving forward with that integration, I think you are right. When the integration is in place, that will added in their configuration.

Now it's the time to change that, later will be too late. Thanks

[2020-07-28 09:18] dieppa commented on #255
Hello @mjustin, I don't fully understand your question. First thing confuses me is that you mention "anonymous class" but unless I miss something, there is no anonymous class anywhere.

Regarding why Spring stores the field class with "$1", I don't really understand. I need to take a look deeply, but as you say that's normally used for anonymous classes.

We'll take a look and tell you something

[2020-07-28 09:22] dieppa commented on #255
ooooooh yes, I see it, the brackets! I've looked at that piece of code 923923 times I never saw it. Now everything makes sense :D
No, that totally sneaked in, there is no reason for that. We'll remove it, as you said very minor issue.

Thanks!!

[2020-07-28 14:21] mjustin commented on #254
Cool, regarding the conversations with the Spring team, though!

[2020-07-28 16:25] dieppa commented on #255
done in changock:1.1.3

[2020-07-28 16:25] #255 closed, assigned to nobody

[2020-07-28 18:33] mjustin opened #253 "Run legacy migrations only once"
Perhaps the [Legacy migration](https://www.mongock.io/legacy-migration) documentation will cover this once it's complete, but in my app once we've migrated from Mongobee to Mongock 4 for the first time, we wouldn't want to run any more legacy migrations.  However, each time at startup, it reruns the legacy migrations, inserting an additional `MongockSync4LegacyMigrationChangeLog` entry in the `mon

[2020-07-29 09:39] dieppa commented on #254
done and documentation updated

[2020-07-29 09:39] #254 closed, assigned to nobody

[2020-07-29 15:16] mjustin commented on #254
Looks like a couple spots were missed:

https://github.com/cloudyrock/mongock/blob/0dfdd76560aaed46114f52ef67d814bb223831cc/mongock-spring-v5/src/main/java/com/github/cloudyrock/spring/v5/MongockConfiguration.java#L81

[code]

https://github.com/cloudyrock/mongock/blob/0dfdd76560aaed46114f52ef67d814bb223831cc/mongock-spring-v5/src/main/java/com/github/cloudyrock/spring/v5/MongockContext.java#L13

[2020-07-29 15:23] dieppa commented on #254
it seems we did the integration tests agains the wrong artifact. My bad!

[2020-07-29 17:47] dieppa commented on #254
solved in 4.1.11

[2020-07-30 20:03] mjustin opened #252 "Misleading "exiting" language in log output"
Very minor issue, but when I start up a Spring Boot application which uses Changock, and have Changock disabled, I find the log output to be a little misleading.  The last line of the application startup logs is the Changock log, which includes the wording "Exiting."  I realize that it's exiting the Changock process, but in context it looks more like it's exiting the Spring Boot application.

[cod

[2020-08-01 13:20] dieppa commented on #252
Hey, we'll be reviewing all the logs and will take this into account. Thanks

[2020-08-01 13:21] dieppa commented on #253
fixed in 4.1.12.
Cheers

[2020-08-01 13:21] #253 closed

[2020-08-06 07:53] bvklingeren opened #251 "Configuring a changelog class instead of a package does not result in executed changelog"
I'm using mongock-spring-v5 v4.1.12 with the mongodb-springdata-v3-driver v4.1.12.

I have a ChangeLog class with correct annotations:

[code]

When I run de changelog (in a test) like so:

[code]

The changelog is not executed.

When I run the changelog with a package name it does run:

[code]

I expected that running Mongock with the classname of the changelog class (the first case) would also w

[2020-08-06 08:15] dieppa commented on #251
Hello @bvklingeren,

thanks. That's a bug we found a couple of days ago, but we've had some other priorities. But no worries, we'll have it fixed by today.

Cheers

[2020-08-06 22:16] dieppa commented on #251
Fixed in version 4.1.13.
 @bvklingeren , can you give a try, please?

[2020-08-07 14:55] kraii opened #250 "Fails to start up with mongo version 4.4.0"
Using version 4.1.8 against mongo 4.4.0

`com.github.cloudyrock.mongock.driver.mongodb.sync.v4.repository.MongoSync4RepositoryBase#isUniqueIndex` always returns false, as the `ns` field is not present in the documents given from `collection.listIndexes`

This means that `io.changock.migration.api.exception.ChangockException: Max tries 3 index  creation` is thrown.

All I could see in the mongo doc

[2020-08-07 17:16] dieppa commented on #250
hi. yeah, that ns check should be removed as it doesn't make sense anymore.
thanks

[2020-08-07 18:27] dieppa commented on #250
Hi @kraii, it's fixed in 4.1.14.

Thanks

[2020-08-07 18:27] #250 closed, assigned to nobody

[2020-08-07 18:28] #251 closed

[2020-08-09 14:11] jfenuk opened #249 "How to use @ChangeSe'ts correctly?"
@dieppa Could you please advice how should I use Mongock correctly for solving the following task:

For each Document in the existing Collection:
- rename existing attribute;
- update value of the existing attribute;
- and a new attribute.

I am going to create only one @ChangeLog class to achieve the goal, but do I need to create a separate @ChangeSet method per each task? I mean, do I need to cr

[2020-08-09 14:40] dieppa commented on #249
Hello @jfenuk,some questions first?
1) transactions available?
2) Collection size? Are we speaking about dozens, hundres, thousands, millions, etc.?
3) Which environment are you using(production)? Some containerised environment like Kubernetes, for example?
4) Is high Availability a critical factor un your system?

With that, I think I can suggest you the best approach from my point of view ;)

[2020-08-09 14:44] jfenuk commented on #249
Hi @dieppa thank you for your quick response!

1. No;
2. Hundreds of documents;
3. Servers somewhere is the AWS ecosystem;
4. No.

[2020-08-09 15:10] dieppa commented on #249
OK, so it's an easy one.

First, I recommend organising your changeLogs per migration. People tend to do it per component/domain, etc. But as you will likely have several domains involved in the same migration and they would probably be codependent with each other, it doesn't make much sense to try to make them independent, because in fact, they are not. For example, if you want to make an update

[2020-08-10 07:05] jfenuk commented on #249
@dieppa yeh, feel free to add it to the FAQ page, I think it is quite sensitive to know how to use the tool correctly.

[2020-08-10 07:06] #249 closed

[2020-08-10 14:54] savvadem opened #248 "CustomConversions in migration"
Hello
we have custom conversion for enums, to store values as integers.

Here is sample of migration we are using to create parital index

[code]
In mongodb atlas i can see partial index with String values, but i expect to have int values(on different enviroments it should be string or int, for example in dev/qa enviroment we should have String values, and pre-prod/prod env should be int value).
L

[2020-08-10 15:00] dieppa commented on #248
Hello @savvadem,

what Mongock version are you using? I can see that you use MongoTemplate, instead of MongockTemplate, so it's probably and old one.

I suggest you to upgrade your Mongock version. Please see  the [documentation](https://www.mongock.io/quick-start)

[2020-08-10 15:03] savvadem commented on #248
version 3.2.4
Ok i will try tomorrow new version and reply here.

Thanks

[2020-08-10 15:05] dieppa commented on #248
cool, let me know how it goes.

[2020-08-10 16:13] mjustin commented on #257
Would you recommend removing the mongobee `mongobeelock` collection but leaving the `dbchangelog` one after switching to Mongock from mongobee and using the Mongock legacy migration?

[2020-08-10 17:42] mjustin commented on #252
@dieppa

Since you're reviewing the logs anyway, it seems a good time for me to share my other thoughts with respect to the logs I've been seeing.  Not sure if you want individual issues or one issue to group the various logging issues.  I'll add them in this comment for now, but I can split them out into individual issues if you'd like.

1. For the legacy migration, when the optional `changes-cou

[2020-08-10 17:53] dieppa commented on #257
Hello,

after perform the legacy migration, the `dbchangelog` won't be used used anymore(unless you explicitly specified as Mongock's collection name). So after successfully running the legacy migration you can safely remove it. However, doesn't hurt to keep for a while just in case.

Regarding `mongobeeLock`, it's totally irrelevant, I would definitely remove it.

[2020-08-10 18:45] dieppa commented on #252
Hello, thanks for your suggestions.

1. the changes-count-expectation is highly recommended. I am more inclined to make it required by default, so in case you want to ignore it, you must indicate so explicitly. The reason behind is that it would hurt a lot more if a you re-apply an undesired  change. If you are running a legacy migration, specially in production, you should be certain on how many

[2020-08-11 15:12] santam85 opened #247 "Can't disable Mongock in unit tests"
In Spring Boot unit tests that partially initialise the application context (IE: `@JsonTest`), the Mongock builder tries to instantiate the driver anyway, and you get exceptions because of the missing MongoTemplate:

[code]

It would be nice to have a way to completely disable mongock beans instantiation during test execution.

[2020-08-11 15:19] dieppa commented on #247
That's a known [bug](https://github.com/cloudyrock/mongock/issues/225) . It will be fixed in the next minor release, which e this week.

[2020-08-11 15:19] dieppa commented on #247
I close this issue as [this](https://github.com/cloudyrock/mongock/issues/225) as this is already in place

[2020-08-11 15:19] #247 closed

[2020-08-13 09:29] savvadem commented on #248
Sry for long reply.

I upgraded to 4.1.8 and it works like a charm.
I have one suggestion - could you add scan-package to ```@EnableMongock``` annotation?
So it would be like this:
```@EnableMongock(package = "com.github.cloudyrock.mongock.integrationtests.spring5.springdata3.changelogs.client.initializer")```

[2020-08-13 09:29] #248 closed

[2020-08-13 09:33] dieppa commented on #248
Hi @savvadem ,
Good suggestion, thanks!

Did you have change to look at the documentation? What do you think? Is it OK? easy and intuitive or difficult? any suggestion?

Thanks

[2020-08-13 10:38] savvadem commented on #248
Well i would say that it was hard to understand(for me) how to configure dependencies.

I think better just to show how to configure the whole thing:
for example this is spring boot 2.2.6 gradle
[code]
and e.t.c.

Also i think you need to mention ```@Bean``` annotation in section "Traditional builder approach".

[2020-08-13 10:50] dieppa commented on #248
Hi @savvadem ,

1) So you mean that in [quick start](https://www.mongock.io/quick-start) instead of explaining step by step providing the different options in each one, it would be better providing for each option all the steps together, so you just need to almost copy/paste, right? Something like this:

For spring data 3:
[code]

2. Yeah, I think that should be more clear too.

[2020-08-13 11:03] savvadem commented on #248
1. Yeah i'm about quick start. I think most of users already have mongo in deps list, so  you could hide this instructions somewhere and focus on your deps(mongock-spring-v5 and mongodb-springdata-v3-driver) and how to use them with examples.

[2020-08-20 15:28] olivierboudet opened #246 "Transactions can not be disabled"
Hello,

I am using mongock with a Spring Boot 2.3 application.
This is artifact versions I am using :
[code]

I try to ignore transaction in some tests. So I try to set the `transaction-enabled` property to false:

[code]

At startup, I have this error :

[code]

Moreover, transactions *must* be disabled when we have a TransactionManager in the context but some changelogs alter collections (ie. cr

[2020-08-25 10:37] 4l3nc opened #245 "Mongock driver has not been imported in unit tests"
Hello,

I'm using your last version 4.1.14 with my Spring Boot application (2.2.8.RELEASE) and it's working. The problem is when I launch the tests of the app and I receive this message when the tests fail:

[code]

And these are the dependencies that I'm using:

[code]
If I add these I get other errors and it doesn't work the migrations:

[code]
I don't know if it's related to this issue https://

[2020-08-25 11:57] dieppa commented on #245
Does it work fine in non-test?

[2020-08-25 12:02] 4l3nc commented on #245
Yes, it does

[2020-08-26 13:43] 4l3nc commented on #245
Can you imagine what is happening? Do you know how can I disable the execution just in tests?
Because I try `mongock.enabled = false` and it doesn't work.

[2020-08-26 14:05] dieppa commented on #245
Hello.

I am not really sure what the error is as it says you haven 't imported the mongock-driver.
But you can actually add `enabled=false` in your test configuration and you could avoid that error(although it's not actually fixed).

However, there is a bug for `enabled=false`, so it's ignored. I will be fixing that. Expecting to have it fixed by Tomorrow evening.

[2020-08-26 14:07] dieppa commented on #245
by the way, as you're importing `mongock-bom` you don't need to specify the version in your dependencies.

[2020-08-26 14:18] 4l3nc commented on #245
I was trying everything seeing that the driver was not imported. I don't understand why is working when I run the service and it's failing when the tests are launched. Anyway, let's see if I can disable in tests properties once you fix the bug.

Thanks.

[2020-08-26 21:26] dieppa commented on #256
@mjustin fixed in 4.1.15

Please give it a try and let me know how it goes.

[2020-08-26 21:27] dieppa commented on #245
@4l3nc please try version 4.1.15 with mongock.enabled=false

[2020-08-26 21:29] dieppa commented on #246
Sorry for the delay in the response. I thought this was one I already replied.

We'll take a look and let you know

[2020-08-26 21:30] dieppa commented on #246
Actually sorry, which version you are using.? Because if you take a look to the [documentation](https://www.mongock.io), it's not `spring.mongock` anymore, just `mongock`

[2020-08-27 07:25] 4l3nc commented on #245
Yes, it's working `mongock.enabled=false`!
Despite I still have the error without the enabled property, it's ok for now so I will close the issue.

Thanks!

[2020-08-27 07:25] #245 closed

[2020-08-27 07:26] olivierboudet commented on #246
As stated in my first comment, I am using version mongock-bom:4.1.8, do you need someting else ?

It is not working netiher with `mongock.transaction-enable: false`. In this case, the error encountered is the following :

[code]

[2020-08-27 07:53] dieppa commented on #245
I will try to reproduce  your error anyway.

[2020-08-27 07:55] dieppa commented on #246
ok, I will try to reproduce the error. But can you upgrade to the last Mongock version(4.1.15) and send me the error trace?
Thanks

[2020-08-27 12:26] olivierboudet commented on #246
ok, I have test it with following dependencies

[code]

When I set the property `mongock.transaction-enable: false` or `mongock.transaction-enabled: false` (in doubt, I tried both), I have this error :
[code]

[2020-08-27 12:45] dieppa commented on #246
OK, this seems really useful. Will take a look and let you know as soon as possible.

[2020-08-27 20:57] leonelsanchesdasilva commented on #256
@dieppa I got to test this today (`application-test.properties` with `mongock.enabled=false`) and worked fine at 4.1.15.

[2020-08-27 21:00] #256 closed, assigned to dieppa

[2020-08-30 21:35] BeeTrojan opened #244 "how to pass object from one changeset to another"
I wanna pass object from one changeset to another. This is my solution but I don't know if it's correct.
I will be grateful if you could share your proposition.
[code]

[2020-08-31 10:54] dieppa commented on #244
Hi @BeeTrojan,

I don't really recommend stateful chanteLogs. However, if you really need so, the way you are doing would wok.
However, as this seems to be part of the same operation, I'd do it in the same changeSet.

[2020-09-02 06:45] dieppa commented on #244
Hi @BeeTrojan , did you resolved your issue?

[2020-09-02 06:47] dieppa commented on #246
Hello @olivierboudet , we have been too busy.
We'll try to take a look and tell you something today. No promises though.

[2020-09-02 07:36] BeeTrojan commented on #244
Hi @dieppa

I'm trying to find a solution, but it isn't easy. My idea turned out to be bad. :( I tried to do it in the same changeSet, but when
subsequent operations in changeset didn't work, there was an error with all earlier operations being saved in mongodb. I need something like transaction for changeset.

[2020-09-02 08:53] dieppa commented on #244
Hi @BeeTrojan , what do you mean with "transaction for changeset"? Literally MongoDB transaction per ChangeSet? Are you working with transactions?

[2020-09-02 09:14] dieppa commented on #244
If you are considering to use transactions, I assume your MongoDB database is 4.0 or higher.

In that case I suggest you to follow the official MongoDB and Spring documentation and then just follow the [Mongock documentation](https://www.mongock.io/transactions#how-to-use-transactions) to tell it to use  transactions.

Please notice that right now, Mongock only supports all-or-nothing transactions

[2020-09-03 08:24] dieppa commented on #246
Hello @olivierboudet ,

we have identified a bug in the configuration, which somehow produces your issue, so we'll be releasing a new bug-fix today. We'll let you you know.

However, I say "somehow" because that would only affect if you are also injecting the transactionManager, because the condition to enable transactions in Mongock is `mongock.transaction-enabled=true` AND there is a `MongoTrans

[2020-09-03 08:32] olivierboudet commented on #246
Hello @dieppa ,

Thanks a lot. And yes, I have a MongoTransactionManager because I use transactions in my application. But mongo 4.2 does not support creating indexes and collections in transactions, so I need to disable transaction in mongock changelog (because I am creating collections and indexes in changelogs)

[2020-09-03 08:45] dieppa commented on #246
cool, thanks. That makes sense now.

So I will let you know when it's released, but unless something terrible happens, you'll have it today

[2020-09-04 07:46] dieppa commented on #246
Hello @olivierboudet ,

this issue should be resolved in the new released version 4.1.16. Please give it a try and let me know.

Thanks

[2020-09-04 13:55] olivierboudet commented on #246
Hello @dieppa,

Thanks but I always have the issue.

**./gradlew dependencies**
[code]

**In application.yaml :**
[code]

**Error**

[code]

[2020-09-04 14:07] dieppa commented on #246
Hello @olivierboudet ,

that's weird because that's actually the fix, add the setter for transactionEnabled, and I am actually running the integration tests agains version 4.1.16 and works fine.

Are you sure if it's not keeping anything in cache?? Can you take a look to your MongockConfiguration and confirm there is no set for that property? you will need to go to the parent class(`ChangockConfig

[2020-09-04 14:34] olivierboudet commented on #246
oh yeah, you are right, Intellij did not refresh correctly.

It's ok :)

Thanks a lot

[2020-09-04 14:34] #246 closed, assigned to nobody

[2020-09-06 17:35] BeeTrojan commented on #244
Thanks for help. I solved my problem :)

[2020-09-06 17:35] #244 closed, assigned to nobody

[2020-09-07 13:07] olivierboudet opened #243 "Can not inject bean without interface in changelogs"
Hello,

I am in the process of migrate a spring boot application from 2.2.2 to 2.2.3. I also upgrade mongock to 4.1.16 as the version 2.0.2 used so far is not compatible anymore.

I have this changelog which works fine in 2.0.2 but not in 4.1.16 :
[code]

With 4.1.16 I have this exception because ObjectMapper is not an interface (com.fasterxml.jackson.databind.ObjectMapper) :
[code]

I need Object

[2020-09-07 13:28] dieppa commented on #243
Hello @olivierboudet ,

as you can see in the [Using custom beans in changeSet methods section, in the Mongock's documentation](https://www.mongock.io/injecting-custom-dependencies-to-changesets), the custom beans you use in your changeSet must be interfaces.

[Here](https://www.mongock.io/injecting-custom-dependencies-to-changesets#advanced-proxy-explanation) there is some explanation.

However,

[2020-09-07 13:46] dieppa commented on #243
I'd also appreciate to add this to stack overflow so it's more accessible to other users =)

[2020-09-07 13:54] olivierboudet commented on #243
Ok thanks, I did not see this part of documentation. Sorry for the inconvenience, I close this.

And I cross-posted the question here : https://stackoverflow.com/questions/63778955/how-to-inject-beans-without-interface-in-mongock-changelogs ;)

[2020-09-07 13:54] #243 closed

[2020-09-07 20:37] #268 closed

[2020-09-10 12:08] albert0815 opened #242 "Reflection fails to find the changeLogs doesn't work with Java 11 plus Jacoco instrumentation"
Hi all,

Thanks for working on Mongock, this is definitly something which is required! We want to use it in our application which is based on Quarkus. Our first test seem to work fine, but we are having an issue which is occurring when using Mongock ChangeLog classes  and having Jacoco enabled for tracking code coverage.

Our current setup
We are using a listener to the StartupEvent provided by Qu

[2020-09-10 15:22] BeeTrojan opened #241 "AOP with changelogs in mongock"
Hi again,

I would like to ask if it is possible to connect AOP with changelogs.

This is my aspect class:
[code]

and this is my changelog class:

[code]

and class where I build my MongoCK bean:

[code]

[2020-09-15 08:45] dieppa commented on #241
Hi @BeeTrojan, sorry for the delay, I've been quite busy, plus weekend. Is this still relevant?

[2020-09-15 08:46] dieppa commented on #242
Hello, I am not sure this is related to Mongock itself, let us take a look over the week. ok?

[2020-09-15 09:47] BeeTrojan commented on #241
Hi,
Yes It is. I'm not sure but Mongock has its own logs, is it true ? I didn't see that earlier.

[2020-09-15 09:58] dieppa commented on #241
Well, Mongock uses Slf4j as logging interface, but I am not sure what is the relationship with AOP.

Regarding the AOP, as the changeLogs are executed by reflection, I am not sure how AOP libraries would behave with it and I guess it also depend on how the weaving is configured.

Anyway, I will try to do a POC this week to check it and will let you know.

[2020-09-15 12:55] albert0815 commented on #242
Hi @dieppa !

Thanks for getting back to me on this. Yes, I am also not sure whether it is related to Mongock itself. Personally I doubt that the issue itself is within Jacoco, but who knows... Maybe something in this reflection lib you are using, I saw the comment "// TODO remove dependency, do own method" :). I prepared a ready to use test case stripping down the problem to few classes, without

[2020-09-15 13:34] dieppa commented on #242
I will check it out, thanks

[2020-09-15 16:35] leonelsanchesdasilva opened #240 "Configuring a MongockInitializingBeanRunner: never works with MongoTemplate"
I was [following these steps to configure a Bean for `MongockInitializingBeanRunner`](https://github.com/cloudyrock/mongock/issues/195#issuecomment-645593389) (thanks @dieppa), but some of the forms don't work, and this intrigues me.

The first form I've tried is:

    @Bean
    public MongockSpring5.MongockInitializingBeanRunner mongockInitializingBeanRunner(ApplicationContext springContext) {

[2020-09-15 17:52] leonelsanchesdasilva commented on #240
Well, now I think this is a bug.

pom.xml:

        <dependency>
            <groupId>com.github.cloudyrock.mongock</groupId>
            <artifactId>mongock-bom</artifactId>
            <version>4.1.17</version>
            <type>pom</type>
        </dependency>
        <dependency>
            <groupId>com.github.cloudyrock.mongock</groupId>
            <artifactId>mongock-spring-v5</artifactId>

[2020-09-15 18:08] dieppa commented on #240
We'll take a look to this as soon as possible and will let you know

[2020-09-19 17:09] mraible commented on #240
@dieppa This issue is affecting the JHipster project and I'd like to help get it fixed. We have money we can donate to this project if it helps.

[2020-09-19 19:39] dieppa commented on #240
Hi @mraible , thanks for the money, but there is no need. Having Mongock's logo in JHipster's site once is released is enough :).

I am actually taking this tomorrow(now with more reason). I think I can release a bugfix tomorrow evening.

[2020-09-21 17:00] dieppa commented on #240
Hello @leonelsanchesdasilva ,

I've created a dummy project for this. I am probably missing something, but I am not able to reproduce it. Can you(or
anyone) take a quick look to [project issue_250 ](https://github.com/dieppa/mongock-issue-250) and tell me what I need to do in order to reproduce it?

[2020-09-21 21:45] leonelsanchesdasilva commented on #240
@dieppa very tricky to simulate in your project for some reason, but I noted that only my tests with mocking `mongoTemplate` give problems. Good to say, you'll need to implement custom repositories. Something like this:

[code]

and:

[code]

and:

[code]

Running the tests, you'll have something like this:

![image](https://user-images.githubusercontent.com/53848829/93824473-5b560480-fc18-11ea-9a

[2020-09-21 21:51] leonelsanchesdasilva commented on #240
I forgot this one:

[code]

[2020-09-21 21:59] leonelsanchesdasilva commented on #240
For now I'm having to use something like this for my tests:

[code]

[2020-09-21 22:34] dieppa commented on #240
ok, I will try to take  all that and reproduce it. If you can share your pom, that would be great too.

[2020-09-21 22:38] leonelsanchesdasilva commented on #240
Sure thing.

[code]

[2020-09-22 11:52] dieppa commented on #240
Hello @leonelsanchesdasilva ,

I have copied your source into the temp project I created to reproduce the issue. You can see it in this [branch](https://github.com/dieppa/mongock-issue-250/compare/reproduce_issue?expand=1).

 I was finally able to reproduce it. I share the [mvn test stack trace](https://github.com/cloudyrock/mongock/files/5261125/stack_trace.log) just to be 100% sure we speak abou

[2020-09-25 07:12] dieppa commented on #240
Hi @leonelsanchesdasilva , confirmed, JHipster's issue wasn't related to this one and it has been fixed on their side.
Can you tell me something about this when you can? We'd don't like to have open issues without any move.

Thanks  :)

[2020-09-26 16:51] leonelsanchesdasilva commented on #240
@dieppa I think we can close this story now. Perhaps the history of this issue is good enough for people that can have the same problem in the future, or we can add special guidance somewhere when using Mongock with unit testing. I can help with this.

[2020-09-26 16:51] #240 closed, assigned to nobody

[2020-09-27 10:12] dieppa commented on #240
Thanks @leonelsanchesdasilva , I think you are right and actually both. Adding it to a FAQ page and also and special guidance for testing, as you suggest.

If you'd like to contribute in this or anything else, please let me know privately at antonio@cloudyrock.io

Thanks.

[2020-09-28 09:51] dieppa commented on #242
Sorry we have dealing with an issue that affected JHipster integration. We'll try to take a look to this during this week.

[2020-09-28 09:51] dieppa commented on #241
Sorry we have dealing with an issue that affected JHipster integration. We'll try to take a look to this during this week.

[2020-09-29 09:51] rebeccan opened #239 "Question about Undo Functionality"
Hi there,

I am trying to integrate Mongock as a migration tool and I am asking myself a few **questions**:

- will the undo feature be available soon or will it take some time until it is implemented and released?
- how intelligent will the Mongock Undo be? Will it be suitable to automatically solve alternate feature deployment of non backward compatible migrations, e.g. renaming a field of a col

[2020-09-29 10:25] dieppa commented on #239
Hello @rebeccan ,

I don't fully understand the first problem you try to solve. You are saying that you are gong to deploy on a dev env where ChangeLog003 hasn't been deployed yet. But then, after detecting ChangeLog003 is missing, you'd like to undo all changes. What changes if ChangeLog003 hasn't been executed?

For the problem 2, assuming undo is available, why don't provide and ChangeLog003_un

[2020-09-29 12:36] rebeccan commented on #239
Hi dieppa,

thank you for your super fast response and it is great to hear that development of undo is planned so soon :-)

I think that you misunderstood the problems I try to find a solution for, so I try to explain it with more details and maybe you can tell me if the solutions in my head sound realistic.

**Problem 1:** We are developing features independently of each other and test their sepa

[2020-09-29 14:57] dieppa commented on #239
Hello,

If I am not wrong both are kind of the same problem really but looked from different perspectives.

Mongock cannot provide the solution you suggest as it doesn't feel right in a general case to assume a changeLog needs to be undone just because it's present in the changeLog collection but no in the code. Do you know what I mean? Anyway that approach would still have the issue of providing

[2020-10-01 05:02] benjamanjiman commented on #273
Found this hacky way to inject mongocktemplates.

    @Autowired
    private MongoTemplate mongoTemplate;
    @MockBean
    private LockManager lockManager;
    private MongockTemplate mongockTemplate;

    @Before
    public void init() throws IOException {
        LockGuardInvokerImpl methodInvoker = new LockGuardInvokerImpl(lockManager);
        mongockTemplate = new MongockTemplate(mongoTempla

[2020-10-02 12:15] mh-mbhojane opened #238 "Why does ChangeSet ID needs to be unique across all changelogs?"
Hi,

So during initial adaptation of the tool, we found that the ChangetSet ID has to be unique across all change logs. When we had something like this:

[code]

[code]

The `changeset1` in change log `ChangeLog2` was being skipped and not executed. Why does the tool not consider the class name when determining which migrations have executed? The class name is stored in the changelog table.

[2020-10-02 13:12] dieppa commented on #238
Hello @mh-mbhojane ,

first to clarify that the changeSet's id doesn't need to be unique across all changeSets, the pair changeId, author does.

Regarding your question about not using className as the unique identifier, here there are a couple of reasons, but there are probably more:

1. Backward compatibility and making the framework more user friendly for developers. Keep in mind the first user

[2020-10-02 13:17] rebeccan commented on #239
Hi @dieppa,

thank you for the clarification!

I don't think that it feels wrong if a migration tool (when the developer configures it that way) undoes things which are present in the changeLog collection, but not in the code. I was working with Java Flyway a few years ago, which ran checksums over the migration scripts in the code and compared it with the checksums logged of applied migrations in

[2020-10-02 13:17] dieppa commented on #238
...said that, it would be ideal if Mongock identify id duplication and throw an exception before even starting the migration...I am creating a issue for that ;)

[2020-10-02 13:18] #238 closed, assigned to nobody

[2020-10-02 13:22] dieppa opened #237 "Identify changeSetId duplications and throw exception"
When there are two changeSet with same id in the code, one of them is simply ignored. Mongock should warn about this situation and fail...unless that a property like `ignore-duplications=true` is set.

[2020-10-02 15:06] gregboero opened #236 "Error during migration from Mongobee : Forbidden parameter[MongoTemplate]. Must be replaced with [MongockTemplate]"
switching from Mongobee to Mongork on a Spring fromworks application (Not Spring Boot), i've updated the code

[code]

and it throw the following error :

[code]

I see nothing in the documentation about this.

[2020-10-02 19:06] dieppa commented on #236
As the error message says, you must replace all your MongoTemplate parameters in your changeSets by MongockTemplate. If you see [this part of the documentation](https://www.mongock.io/changelogs), you can see it ;). You won't have any problem, it provides the same API

[2020-10-02 19:06] #236 closed

[2020-10-03 08:00] dieppa commented on #239
First at all, about "it is up to Mongock developers how they want their migration tool to work", while we of course make the final call, it's for Mongock's users, so we really want to provide what you need. So we can really appreciate this kind of "issues" as make Mongock better. Thanks ;)

About that checksum, I know if it's something that has been used in other tools and it probably makes sense

[2020-10-07 16:02] leonelsanchesdasilva commented on #278
@dieppa Can you please provide an example about how to configure this?

[2020-10-07 16:31] dieppa commented on #278
Hello @leonelsanchesdasilva ,
there is no example for that, but it's in the [documentation](https://www.mongock.io/further-configuration#index-creation).

Please, let me know if it's enough with that or we need to provide a proper example.

Cheers

[2020-10-07 20:27] leonelsanchesdasilva commented on #278
@dieppa We are currently trying to deploy the application with CosmosDB, which doesn't allow indexes to be created, apparently. Will let you know if this worked.

[2020-10-07 21:28] dieppa commented on #278
mmmm, that's a problem as Mongock needs those indexed to be created. The `index-creation=false` solution requires the indexes to be created manually, instead of y Mongock itself, but still the need to be there. I am pretty sure it won't work

[2020-10-07 21:33] dieppa opened #235 "Not creating indexes when enabled = false"
When `enabled=false`  Mongock process shouldn't even start...and therefore the indexes shouldn't be created

[2020-10-08 15:56] leonelsanchesdasilva opened #234 "Mongock and CosmosDB"
We are trying to deploy an application that uses Mongock to CosmosDB. According to Azure Docs, CosmosDB creates all the indexes automatically for the collections in a database: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing. We are also aware about the advise given by @dieppa on flamingock/mongock#278 about creating indexes.

We performed two steps: trying to run the application

[2020-10-09 09:07] dieppa commented on #234
Hello @leonelsanchesdasilva ,

if I'm not wrong, the CosmosDB documentation says that it creates the `_id` index automatically, as MongoDB also does, but you are free to create any other index you wish. It won't do it as it doesn't know what to create.

Assuming you set `index-creation=false` and you are not creating the required indexes manually, it's totally  normal that Mongock fails. You eithe